<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>管理员端-概览</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet"/>
    <link th:href="@{/static/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet"/>
    <link th:href="@{/static/dist/css/sb-admin-2.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link th:href="@{/static/css/manager/index.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/vendor/metisMenu/metisMenu.min.js}"></script>
    <script th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>
    <script th:src="@{/static/dist/js/sb-admin-2.js}"></script>
    <script th:src="@{/static/js/manager/showScholarship.js}"></script>
    <script th:src="@{/static/js/manager/index.js}"></script>
</head>
<body class="main-body">
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" >综合测评管理系统管理员端</div>
            </div>
            <!-- /.navbar-header -->

          <!--  <ul class="nav navbar-top-links navbar-right">
                
              
              
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        <font style="margin-left: 15px;margin-right: 30px;">fzj2</font>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                       
                        <li><a href="javascript:void(0)"><i class="fa fa-gear fa-fw"></i> 修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/managerLogout}"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
                        </li>
                    </ul>
                    &lt;!&ndash; /.dropdown-user &ndash;&gt;
                </li>
                &lt;!&ndash; /.dropdown &ndash;&gt;
            </ul>-->





            <ul class="nav navbar-top-links navbar-right">



                <li class="dropdown">
                    <a class="dropdown-toggle" onmouseover="mouseOverShow()" onmouseout="mouseOutHidden()"  href="javascript:void(0)">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        <font style="margin-left: 15px;margin-right: 30px;" th:text="${session.managerLogBean.account}" ></font>
                    </a>
                    <ul class="dropdown-menu dropdown-user" style="display: none;" id="hidden"  onmouseover="mouseOverShow()" onmouseout="mouseOutHidden()">

                        <li ><a href="javascript:void(0)" data-toggle="modal" data-target="#changePassword" ><i class="fa fa-gear fa-fw"></i> 修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/managerLogout}"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>


            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a onclick="loadPage('/manager/index')" id="test"><i class="fa fa-dashboard fa-fw"></i> 概览</a>
                        </li>



                        <li>
                            <a href="javascript:void(0)">
                            	<i class="fa fa-table fa-fw"></i>  
                            查看名单
                            	<span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li onclick="loadPage('/manager/scholarship/ng')"><a ><span class="text">国家助学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/nis')"><a ><span class="text">国家励志奖学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/pgs')"><a ><span class="text">省政府奖学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/ss')"><a ><span class="text">校奖学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/tas')"><a ><span class="text">三好学生</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-edit fa-fw"></i> 填写意见<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               
                               <li onclick="loadPage('/manager/scholarship/opinion')"><a ><span class="text ">奖学金意见填写</span></a>
                                </li>
                                 <li onclick="loadPage('/manager/scholarship/opinion/ng')"><a><span class="text">国家助学金审批意见</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a onclick="loadPage('/manager/settings/resetPassword')" ><i class="fa fa-wrench fa-fw"></i> 重置学生密码</a>
                            
                            <!-- /.nav-second-level -->
                        </li>
                       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

          <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">概览</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
              <div class="col-lg-3 col-md-6">
                  <div class="panel panel-green">
                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-xs-3">

                              </div>
                              <div class="col-xs-9 text-right">
                                  <div class="huge">26</div>
                                  <div>综测排名</div>
                              </div>
                          </div>
                      </div>
                      <a href="javascript:void(0)">
                          <div class="panel-footer">
                              <span class="pull-left" style="">查看详情</span>
                              <span class="pull-right" style="color: #8a6d3b"><i class="fa fa-arrow-circle-right"></i></span>
                              <div class="clearfix"></div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>国家励志奖学金</div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
              <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>国家助学金</div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
              <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>省政府奖学金</div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
              <div class="col-lg-3 col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>校奖学金</div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)">
                            <div class="panel-footer" style="color: #3c763d">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
              <div class="col-lg-3 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div >三好学生</div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)">
                            <div class="panel-footer" style="color:#31708f;">
                                <span class="pull-left" style="color: #31708f">查看详情</span>
                                <span class="pull-right" style="color: #31708f"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
              <div class="col-lg-3 col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>奖学金意见填写</div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)">
                            <div class="panel-footer">
                                <span class="pull-left" style="color: #8a6d3b">查看详情</span>
                                <span class="pull-right" style="color: #8a6d3b"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
              <div class="col-lg-3 col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>国家助学金审批意见</div>
                                </div>
                            </div>
                        </div>
                        <a href="javascript:void(0)">
                            <div class="panel-footer">
                                <span class="pull-left" style="color: #a94442">查看详情</span>
                                <span class="pull-right" style="color: #a94442"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            <!-- /.row -->

              <div class="row">
                  <div class="col-lg-6">
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              校奖学金<small>---二级学工组意见</small> 
                          </div>



                          <!-- /.panel-heading -->
                          <div class="panel-body" style="padding:0px;margin:0px;">


                                     <textarea class="form-control22 disabled" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 100%;   background-color:white;margin:0px;border:0px;outline:medium;" disabled="disabled" ></textarea>




                          </div>
                          <!-- /.panel-body -->
                      </div>
                      <!-- /.panel -->
                  </div><div class="col-lg-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          国家励志奖学金<small>---院（系）意见
                      </small> 
                      </div>



                      <!-- /.panel-heading -->
                      <div class="panel-body" style="padding:0px;margin:0px;">


                                 <textarea class="form-control22 disabled" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 100%;   background-color:white;margin:0px;border:0px;outline:medium;" disabled="disabled"></textarea>



                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
              </div><div class="col-lg-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          校奖学金<small>---二级学工组意见</small> 
                      </div>



                      <!-- /.panel-heading -->
                      <div class="panel-body" style="padding:0px;margin:0px;">


                                 <textarea class="form-control22 disabled" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 100%;   background-color:white;margin:0px;border:0px;outline:medium;" disabled="disabled"></textarea>



                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
              </div><div class="col-lg-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          省政府奖学金<small>---推荐理由</small> 
                      </div>



                      <!-- /.panel-heading -->
                      <div class="panel-body" style="padding:0px;margin:0px;">


                                 <textarea class="form-control22 disabled" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 100%;   background-color:white;margin:0px;border:0px;outline:medium;" disabled="disabled"></textarea>



                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
              </div><div class="col-lg-6">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          三好学生<small>---二级学工组意见</small> 
                      </div>



                      <!-- /.panel-heading -->
                      <div class="panel-body" style="padding:0px;margin:0px;">


                                 <textarea class="form-control22 disabled" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 100%;   background-color:white;margin:0px;border:0px;outline:medium;" disabled="disabled"></textarea>



                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
              </div>


              </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->


<!--转圈圈model-->
<div class="modal fade" id="circleModal" tabindex="-1" role="dialog" aria-labelledby="circleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-circle">
        <div class="modal-content" style="height: 80px;">
        	<div style="line-height: 80px;margin-left: 35%;" >

            <img th:src="@{/static/img/loadingImg.gif}" width="40px;" height="40px;"/>
            <label class="modal-body-title">&nbsp;&nbsp;&nbsp;数据加载中......</label>

        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!--修改密码model-->
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" class="form-control" name="account" id="userID" th:value="${session.managerLogBean.account}" autocomplete="off" disabled="disabled" />

                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            原密码
                        </div>
                        <input type="password" class="form-control" name="password" id="password1" placeholder="原密码" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            新密码
                        </div>
                        <input type="password" class="form-control" name="password" id="password2" placeholder="新密码" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            确认新密码
                        </div>
                        <input type="password" class="form-control" name="confirmPassword" id="password3" placeholder="确认新密码" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="ok" onclick="fire_ajax_reset(event)" data-dismiss="modal">确认修改</button>
            </div>
        </div>
    </div>
</div>

    </div>
</body>

<script>

    function fire_ajax_reset(event) {

          /*  if ($("#userID").val()=="") {
                alert("请输入账号");

            }*/
            if ($("#password2").val()==$("#password3").val()) {
                $.ajax({
                    method:"post",
                    url:"/manager/settings/changePassword",
                    data:{
                        "password":$("#password2").val(),
                        "confirmPassword":$("#password3").val()
                    },
                    dataType: "json",
                    success:function () {
                        console.log("success");
                        alert("修改成功");
                        location.reload();
                    },
                    error:function (result) {
                        console.log("fail");
                    }
                });
            }
            else{
               alert("新密码不一样");
            }


    }

</script>
</html>
