<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>新增学院</title>
    <link th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet"/>
    <link th:href="@{/static/dist/css/sb-admin-2.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link th:href="@{/static/css/manager/showScholarship.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/manager/resetPassword.css}" rel="stylesheet" type="text/css"/>

    <script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/vendor/metisMenu/metisMenu.min.js}"></script>
    <script th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>
    <script th:src="@{/static/dist/js/sb-admin-2.js}"></script>
    <script th:src="@{/static/js/manager/resetPassword.js}"></script>
    <script th:src="@{/static/js/manager/index.js}"></script>

</head>
<body>


    <div id="wrapper">


        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" >综合测评管理系统管理员端</div>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" onmouseover="mouseOverShow()" onmouseout="mouseOutHidden()"  href="javascript:void(0)">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        <font style="margin-left: 15px;margin-right: 30px;" th:text="${session.managerLogBean.account}" ></font>
                    </a>
                    <ul class="dropdown-menu dropdown-user" style="display: none;" id="hidden"  onmouseover="mouseOverShow()" onmouseout="mouseOutHidden()">

                        <li ><a href="javascript:void(0)" data-toggle="modal" data-target="#changePassword" ><i class="fa fa-gear fa-fw"></i> 修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/managerLogout}"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>


            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a onclick="loadPage('/manager/index')" id="test"><i class="fa fa-dashboard fa-fw"></i> 概览</a>
                        </li>



                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-table fa-fw"></i>
                                查看名单
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li onclick="loadPage('/manager/scholarship/ng')"><a ><span class="text">国家助学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/nis')"><a ><span class="text">国家励志奖学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/pgs')"><a ><span class="text">省政府奖学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/ss')"><a ><span class="text">校奖学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/tas')"><a ><span class="text">三好学生</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-edit fa-fw"></i> 填写意见<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

                                <li onclick="loadPage('/manager/scholarship/opinion')"><a ><span class="text ">奖学金意见填写</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/opinion/ng')"><a><span class="text">国家助学金审批意见</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-wrench fa-fw"></i>设置<span class="fa arrow"></span></a>

                            <ul class="nav nav-second-level">
                                <li th:if="${session.managerLogBean.managerType} == 1" onclick="loadPage('/manager/settings/insertSchool')"><a><span class="text">新增学院</span></a>
                                </li>
                                <li th:if="${session.managerLogBean.managerType} == 1" onclick="loadPage('/manager/settings/insertManager')"><a><span class="text">新增管理员</span></a>
                                </li>
                                <li onclick="loadPage('/manager/settings/upload')"><a><span class="text">名单管理</span></a>
                                </li>
                            </ul>

                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">

                    <h1 class="page-header">新增学院
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row" style="width: 80%;margin-left: 3px;">

                    <div class="form-group">
                        <label>学院名称</label>
                        <input type="text" class="form-control"  id="schoolName" placeholder="学院名称"/>
                    </div>
                    <button  class="btn btn-default" id="submit">提交</button>

            </div>

        </div>
        <!-- /#page-wrapper -->


        <!--修改密码model-->
        <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="changePasswordModalLabel">修改密码</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" class="form-control" name="account" id="userID" th:value="${session.managerLogBean.account}" autocomplete="off" disabled="disabled" />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    原密码
                                </div>
                                <input type="password" class="form-control" name="password" id="password1" placeholder="原密码" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    新密码
                                </div>
                                <input type="password" class="form-control" name="password" id="password2" placeholder="新密码" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    确认新密码
                                </div>
                                <input type="password" class="form-control" name="confirmPassword" id="password3" placeholder="确认新密码" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="ok" onclick="fire_ajax_change_password(event)" data-dismiss="modal">确认修改</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</body>
<script>

</script>
<script th:inline="javascript">


    $("#submit").click(function () {
        if($("#schoolName").val()!=""){
            $.ajax({
                type: "post",
                contentType: "application/json",
                url: "/manager/settings/insertSchool",
                data: $("#schoolName").val(),
                dataType: 'json',
                cache: false,
                timeout: 600000,
                success: function (data) {
                    console.log("SUCCESS : ", data);
                    alert(data.status);
                },
                error: function (e) {
                    alert("新增学院失败")
                    console.log("Failed : ", e);

                }
            });
        }
        else{
            alert("值为空")
        }

    });

    function fire_ajax_change_password(event) {
        $.ajax({
            method:"post",
            url:"/manager/settings/changePassword",
            data:{
                "oldPassword":$("#password1").val(),
                "newPassword":$("#password2").val(),
                "confirmPassword":$("#password3").val()
            },
            dataType: "json",
            success:function (result) {
                alert(result.status);
            }
        });
    }
</script>
</html>
