<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
    <form method="get" onsubmit="return false;">
        <input type="text" name="searchKey" id="searchKey"/>
        <button type="submit" id="bu">确认</button>
    </form>
</body>
<script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
<script type="text/javascript">
    $("#bu").click(function () {
        $.ajax({
            type: "post",
            contentType: "application/json",
            url: "/manager/settings/search",
            data: JSON.stringify({
                searchKey:$("#searchKey").val()
            }),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {
                alert(data);
            },
            error: function (e) {
            }
        });
    });
</script>
</html>