<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>查看奖学金</title>
    <link th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet"/>
    <link th:href="@{/static/dist/css/sb-admin-2.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link th:href="@{/static/css/manager/showScholarship.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/vendor/metisMenu/metisMenu.min.js}"></script>
    <script th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>
    <script th:src="@{/static/dist/js/sb-admin-2.js}"></script>
    <script th:src="@{/static/js/manager/showScholarship.js}"></script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>-->
</head>
<body>

    <div id="wrapper">


        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" >综合测评管理系统管理员端</div>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
              
              
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        <font style="margin-left: 15px;margin-right: 30px;">fzj</font>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                       
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search..."/>
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dashboard fa-fw"></i> 概览</a>
                        </li>
                       
                        <li>
                            <a href="#">
                            	<i class="fa fa-table fa-fw"></i>  
                            查看名单
                            	<span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li onclick=""><a><span class="text ">国家励志奖学金</span></a>
                                </li>
                                 <li onclick=""><a><span class="text">国家助学金</span></a>
                                </li>
                                 <li onclick=""><a><span class="text">省政府奖学金</span></a>
                                </li>
                                 <li onclick=""><a><span class="text">校奖学金</span></a>
                                </li>
                                <li onclick=""><a><span class="text">三好学生</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> 填写意见<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               
                               <li onclick=""><a><span class="text ">奖学金意见填写</span></a>
                                </li>
                                 <li onclick=""><a><span class="text">国家助学金审批意见</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> 重置学生密码</a>
                            
                            <!-- /.nav-second-level -->
                        </li>
                       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    
                    <h1 class="page-header">国家励志奖学金
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="padding: 0px;margin: 0px;">
                            <ul class="nav nav-tabs" >
                                <li role="presentation" class="active"><a href="#">2015级</a></li>
                                <li role="presentation"><a href="#" >2016级</a></li> <!--style="color: grey"-->
                                <!--<li role="presentation" ><a href="#" >Messages</a></li>&lt;!&ndash;style="color: grey"&ndash;&gt;-->
                            </ul>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example" data-order='[[2, "asc"]]'>
                                <thead>
                                    <tr>
                                <th>
                                    <!--<div class="checkbox">-->
                                    <!--<label>-->
                                           <!-- <input style="" type="checkbox" id="checkAll" value="option1" name="checkbox" aria-label="..." style="margin: 0 auto;"> -->
											 <input type="checkbox" id="checkAll" name=""/>
                                        <!--Option one is this and that&mdash;be sure to include why it's great-->
                                    <!--</label>-->
                                  <!--</div>-->
                                </th>
                                <th >专业
                                   <!--  <i class="glyphicon glyphicon-triangle-bottom interval-small" aria-hidden="true" id="archerOne" onclick="showArcherOne()" ></i> -->
                                         <!--<i class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" id="archerTwo" onclick="showArcherTwo()"></i>-->
                                </th>
                                <th>班级号<!-- <i class="glyphicon glyphicon-triangle-bottom interval-small" aria-hidden="true" id="archerTwo" onclick="showArcherTwo()" ></i> --></th>
                                <th >学号<!-- <i class="glyphicon glyphicon-triangle-bottom interval-small" aria-hidden="true" id="archerThree" onclick="showArcherThree()" ></i> --></th>

                                <th>姓名<!-- <i class="glyphicon glyphicon-triangle-bottom interval-small" aria-hidden="true" id="archerFour" onclick="showArcherFour()" ></i> --></th>
                                <th>获奖名称<!-- <i class="glyphicon glyphicon-triangle-bottom interval-small" aria-hidden="true" id="archerSix" onclick="showArcherSix()" ></i> --></th>
                                <th class="setWidth">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td><td>1</td>
                                    <td>1</td><td>1</td><td>1</td>

                                </tr>
                                <tr th:each="person : ${scholarshipFormBeanList}" th:if="${person.major == '软件工程'}">
                                <th scope="row">
                                    <input type="checkbox" id="blankCheckbox1" value="option1" name="subBox" aria-label="..." style="margin-top:7px;"/>
                                </th>
                                <td th:text="${person.major}"></td>
                                <td th:text="${person.classNum}"></td>
                                <td th:value="${person.account}" class="account"></td>
                                <td th:text="${person.username}"></td>
                                <td th:text="${person.scholarshipName}"></td>



                               <th>
                                   <button type="button" class="btn btn-info btn-sm radius" >下载</button>
                                   <button type="button" class="btn btn-danger2 btn-sm interval radius" style="margin-left: 30px;" onclick="fire_ajax_submit(event)"   data-toggle="modal" data-target="">删除</button>
                               </th>
                               </tr>

                                  </tbody>

                            </table>

                            <!-- /.table-responsive -->
                             <span class="panel-body_number">已选 <span id="checkedNumber15">0</span> 人</span>
                        </div>
                        
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
           
        </div>
        <!-- /#page-wrapper -->








    </div>


    <!-- Modal -->
    <div class="modal fade" id="deleteScholarship" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">删除操作</h4>
                </div>
                <div class="modal-body">
                    确认删除？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary"  id="deleteScholarshipButton" >删除</button>
                </div>
            </div>
        </div>
    </div>



</body>
<script th:inline="javascript">
    function fire_ajax_submit(event) {


        var account=[[${scholarshipFormBeanList}]];

        var index=$($($($(event.target).parent())).parent()).prevAll().length-1;

        console.log(JSON.stringify(account[index]));








        $.ajax({
            type: "post",
            contentType: "application/json",
            url: "/manager/scholarship/delete/{subName}",
            data: JSON.stringify(account[index]),
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {




                console.log("SUCCESS : ", data);


            },
            error: function (e) {




                console.log("Failed : ", e);

            }
        });

    }

</script>
</html>
