<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>文件上传</title>
    <link th:href="@{/static/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/datatables-plugins/dataTables.bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/datatables-responsive/dataTables.responsive.css}" rel="stylesheet"/>
    <link th:href="@{/static/dist/css/sb-admin-2.css}" rel="stylesheet"/>
    <link th:href="@{/static/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link th:href="@{/static/css/manager/showScholarship.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/static/css/manager/resetPassword.css}" rel="stylesheet" type="text/css"/>

    <script th:src="@{/static/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/static/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/vendor/metisMenu/metisMenu.min.js}"></script>
    <script th:src="@{/static/vendor/datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/vendor/datatables-plugins/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/static/vendor/datatables-responsive/dataTables.responsive.js}"></script>
    <script th:src="@{/static/dist/js/sb-admin-2.js}"></script>
    <script th:src="@{/static/js/manager/resetPassword.js}"></script>
    <script th:src="@{/static/js/manager/index.js}"></script>

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>-->
</head>
<body>


    <div id="wrapper">


        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" >综合测评管理系统管理员端</div>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" onmouseover="mouseOverShow()" onmouseout="mouseOutHidden()"  href="javascript:void(0)">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        <font style="margin-left: 15px;margin-right: 30px;" th:text="${session.managerLogBean.account}" ></font>
                    </a>
                    <ul class="dropdown-menu dropdown-user" style="display: none;" id="hidden"  onmouseover="mouseOverShow()" onmouseout="mouseOutHidden()">

                        <li ><a href="javascript:void(0)" data-toggle="modal" data-target="#changePassword" ><i class="fa fa-gear fa-fw"></i> 修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li><a th:href="@{/managerLogout}"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>


            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a onclick="loadPage('/manager/index')" id="test"><i class="fa fa-dashboard fa-fw"></i> 概览</a>
                        </li>



                        <li>
                            <a href="javascript:void(0)">
                                <i class="fa fa-table fa-fw"></i>
                                查看名单
                                <span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li onclick="loadPage('/manager/scholarship/ng')"><a ><span class="text">国家助学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/nis')"><a ><span class="text">国家励志奖学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/pgs')"><a ><span class="text">省政府奖学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/ss')"><a ><span class="text">校奖学金</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/tas')"><a ><span class="text">三好学生</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-edit fa-fw"></i> 填写意见<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">

                                <li onclick="loadPage('/manager/scholarship/opinion')"><a ><span class="text ">奖学金意见填写</span></a>
                                </li>
                                <li onclick="loadPage('/manager/scholarship/opinion/ng')"><a><span class="text">国家助学金审批意见</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-wrench fa-fw"></i>设置<span class="fa arrow"></span></a>

                            <ul class="nav nav-second-level">
                                <li th:if="${session.managerLogBean.managerType} == 1" onclick="loadPage('/manager/settings/insertSchool')"><a><span class="text">新增学院</span></a>
                                </li>
                                <li th:if="${session.managerLogBean.managerType} == 1" onclick="loadPage('/manager/settings/insertManager')"><a><span class="text">新增管理员</span></a>
                                </li>
                                <li onclick="loadPage('/manager/settings/upload')"><a><span class="text">名单管理</span></a>
                                </li>
                            </ul>

                            <!-- /.nav-second-level -->
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">

                    <h1 class="page-header">名单管理
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row" style="width: 80%;margin-left: 3px;">
                <p>1.用户名单</p>
                <form action="/manager/settings/download/userExcel" method="post">
                    <input type="submit" class="btn btn-default btn-small" value="下载用户名单示例"/>
                </form>
                <form id="userForm" enctype="multipart/form-data" method="post"  action="/manager/settings/upload/user">
                    <br/>
                    <a id="userChoose"  style="cursor:pointer;padding: 5px 10px;height: 40px;line-height: 20px;
                    position: relative;border: 1px solid #999;text-decoration: none;color: #666;">选择文件</a>
                    <div id="userFileName" style="padding: 3px 10px;line-height: 20px;display: inline-block;
                    border: 1px solid #999;text-decoration: none;color: #666;width:300px;">当前未选择文件</div>
                    <input type="file" style="display: none" name="userExcel"/><br/>
                    <input id="userBtn" type="button" class="btn btn-small btn-default" style="margin-top:15px;" value="上传用户名单"/>
                </form>
                <br/>

                <p>2.奖学金名单</p>
                <form action="/manager/settings/download/scholarshipExcel" method="post">
                    <input type="submit" class="btn btn-default btn-small" value="下载奖学金名单示例"/>
                </form>
                <form id="scholarshipForm" enctype="multipart/form-data" method="post" action="/manager/settings/upload/scholarship">
                    <br/>
                    <a id="scholarshipChoose"  style="cursor:pointer;padding: 5px 10px;height: 40px;line-height: 20px;
                    position: relative;border: 1px solid #999;text-decoration: none;color: #666;">选择文件</a>
                    <div id="scholarshipFileName" style="padding: 3px 10px;line-height: 20px;display: inline-block;
                    border: 1px solid #999;text-decoration: none;color: #666;width:300px;">当前未选择文件</div>
                    <input type="file" style="display: none" name="scholarshipExcel"/><br/>
                    <input id="scholarshipBtn" type="button" class="btn btn-default btn-small" style="margin-top:15px;" value="上传奖学金名单"/>
                </form>


            </div>

        </div>
        <!-- /#page-wrapper -->


<!--修改密码model-->
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="changePasswordModalLabel">修改密码</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user"></i>
                                </div>
                                <input type="text" class="form-control" name="account" id="userID" th:value="${session.managerLogBean.account}" autocomplete="off" disabled="disabled" />

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    原密码
                                </div>
                                <input type="password" class="form-control" name="password" id="password1" placeholder="原密码" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    新密码
                                </div>
                                <input type="password" class="form-control" name="password" id="password2" placeholder="新密码" autocomplete="off" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    确认新密码
                                </div>
                                <input type="password" class="form-control" name="confirmPassword" id="password3" placeholder="确认新密码" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" id="ok" onclick="fire_ajax_change_password(event)" data-dismiss="modal">确认修改</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</body>
<script>
    $("#userChoose").click(function(){
        $("input[name='userExcel']").click();
    });
    $("input[name='userExcel']").change(function(){
        var str=$(this).val();
        if(str!==""){
            var arr=str.split("\\");
            var file_name=arr[arr.length-1];
            $("#userFileName").text(file_name);
        }
    });
    $("#userBtn").on('click', function () {
        if($("#userFileName").text() === "当前未选择文件"){
            alert("请选择文件");
            return false;
        }
        var formData = new FormData($('#userForm')[0]);
        $.ajax({
            url: "/manager/settings/upload/user",
            data: formData,
            type: "post",
            dataType: "json",
            cache: false,//上传文件无需缓存
            processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false, //必须
            success: function (result) {
                alert(result.status);
            }
        })
    });


    $("#scholarshipChoose").click(function(){
        $("input[name='scholarshipExcel']").click();
    });
    $("input[name='scholarshipExcel']").change(function(){
        var str=$(this).val();
        if(str!==""){
            var arr=str.split("\\");
            var file_name=arr[arr.length-1];
            $("#scholarshipFileName").text(file_name);
        }
    });
    $("#scholarshipBtn").on('click', function () {
        if($("#scholarshipFileName").text() === "当前未选择文件"){
            alert("请选择文件");
            return false;
        }
        var formData = new FormData($('#scholarshipForm')[0]);
        $.ajax({
            url: "/manager/settings/upload/scholarship",
            data: formData,
            type: "post",
            dataType: "json",
            cache: false,//上传文件无需缓存
            processData: false,//用于对data参数进行序列化处理 这里必须false
            contentType: false, //必须
            success: function (result) {
                alert(result.status);
            }
        })
    });


    function fire_ajax_change_password(event) {
        $.ajax({
            method:"post",
            url:"/manager/settings/changePassword",
            data:{
                "oldPassword":$("#password1").val(),
                "newPassword":$("#password2").val(),
                "confirmPassword":$("#password3").val()
            },
            dataType: "json",
            success:function (result) {
                alert(result.status);
            }
        });
    }
</script>
</html>
