<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{plugins/layui/css/layui.css}"/>
</head>
<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">

        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">

            </div>
        </div>
        <div class="layui-body">

        </div>
        <div class="layui-footer">

        </div>
    </div>
</body>
<script th:src="@{js/plugins/jquery-3.1.1.min.js}"/>
<script th:src="@{js/plugins/echarts.min.js}"/>
<script th:src="@{js/plugins/html5shiv.min.js}"/>
<script th:src="@{plugins/bootstrap/js/bootstrap.min.js}"/>
<script th:src="@{plugins/layui/layui.js}"/>
</html>
