<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}"/>
    <style type="text/css">
        .banner
        {
            width: 100%;
            height: 70px;
        }

        .left
        {
            width: 10%;
            float: left;
        }

        .right
        {
            width: 80%;
            float: right;
        }

        .row
        {
            margin-top: 50px;
        }

        table
        {
            margin-top: 20px;
            border-color: #5CACEE;
        }

        .container
        {
            padding-right: 10%;
            padding-bottom: 20%;
        }

        th
        {
            background-color: #5CACEE;
            border-color: #5CACEE;
            color: white;
        }

        .btn
        {
            background-color: #5CACEE;
            color: white;
            border-color: #5CACEE;
        }

        .btn:hover
        {
            color: white;
            border-color: #4F94CD;
            background-color: #4F94CD;
        }

        .dropdown-menu li a:hover
        {
            background-color: #5CACEE;
            color: white;
            cursor: pointer;
        }


    </style>
</head>
<body>
<div class="banner"></div>
<div class="container">
    <div class="left">
    </div>
    <div class="right">
        <div class="row">
            <a class="btn btn-default" href="#" role="button">国家励志奖学金</a>
            <a class="btn btn-default" style="float: right;">打包</a>
            <table class="table table-striped table-hover table-condensed" id="t-guojia">

                <th class="dropdown">专业 <a data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu" id="th-guojia">
                        <li><a id="r">软件工程</a></li>
                        <li><a id="j">计算机</a></li>
                        <li><a id="s">数字媒体</a></li>
                        <li><a id="w">物联网</a></li>
                        <li><a id="d">电子信息</a></li>
                        <li><a id="t">通信工程</a></li>
                    </ul>
                </th>
                <th>班级</th>
                <th>学号</th>
                <th>姓名</th>
                <th>模板下载</th>
                <tbody>
                <tr>
                    <td>软件工程</td>
                    <td>软件工程151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a></td>

                </tr>
                <tr>
                    <td>计算机</td>
                    <td>计算机151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a class=" btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a></td>

                </tr>
                <tr>
                    <td>软件工程</td>
                    <td>软件工程151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a href="" class=" btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <a class="btn btn-default" href="#" role="button">省政府奖学金</a>
            <a class="btn btn-default" style="float: right;">打包</a>
            <table class="table table-striped table-hover" id="t-zhengfu">

                <th class="dropdown">专业 <a data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu" id="th-zhengfu">
                        <li><a id="r">软件工程</a></li>
                        <li><a id="j">计算机</a></li>
                        <li><a id="s">数字媒体</a></li>
                        <li><a id="w">物联网</a></li>
                        <li><a id="d">电子信息</a></li>
                        <li><a id="t">通信工程</a></li>
                    </ul>
                </th>
                <th>班级</th>
                <th>学号</th>
                <th>姓名</th>
                <th>模板下载</th>
                <tbody>
                <tr>
                    <td>软件工程</td>
                    <td>软件工程151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a></td>

                </tr>
                <tr>
                    <td>计算机</td>
                    <td>计算机151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a class=" btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a></td>

                </tr>
                <tr>
                    <td>软件工程</td>
                    <td>软件工程151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a href="" class=" btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <a class="btn btn-default" href="#" role="button">三好学生</a>
            <a class="btn btn-default" style="float: right;">打包</a>
            <table class="table table-striped table-hover" id="t-sanhao">

                <th class="dropdown">专业 <a data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu" id="th-sanhao">
                        <li><a id="r">软件工程</a></li>
                        <li><a id="j">计算机</a></li>
                        <li><a id="s">数字媒体</a></li>
                        <li><a id="w">物联网</a></li>
                        <li><a id="d">电子信息</a></li>
                        <li><a id="t">通信工程</a></li>
                    </ul>
                </th>
                <th>班级</th>
                <th>学号</th>
                <th>姓名</th>
                <th>模板下载</th>
                <tbody>
                <tr>
                    <td>软件工程</td>
                    <td>软件工程151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a></td>

                </tr>
                <tr>
                    <td>计算机</td>
                    <td>计算机151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a class=" btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a></td>

                </tr>
                <tr>
                    <td>软件工程</td>
                    <td>软件工程151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a href="" class=" btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <a class="btn btn-default" href="#" role="button">校奖学金</a>
            <a class="btn btn-default" style="float: right;">打包</a>
            <table class="table table-striped table-hover" id="t-xiao">

                <th class="dropdown">专业 <a data-toggle="dropdown"><span class="caret"></span></a>
                    <ul class="dropdown-menu" id="th-xiao">
                        <li><a id="r">软件工程</a></li>
                        <li><a id="j">计算机</a></li>
                        <li><a id="s">数字媒体</a></li>
                        <li><a id="w">物联网</a></li>
                        <li><a id="d">电子信息</a></li>
                        <li><a id="t">通信工程</a></li>
                    </ul>
                </th>
                <th>班级</th>
                <th>学号</th>
                <th>姓名</th>
                <th>模板下载</th>
                <tbody>
                <tr>
                    <td>软件工程</td>
                    <td>软件工程151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a></td>

                </tr>
                <tr>
                    <td>计算机</td>
                    <td>计算机151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a class=" btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a></td>

                </tr>
                <tr>
                    <td>软件工程</td>
                    <td>软件工程151</td>
                    <td>1150299156</td>
                    <td>dsa</td>
                    <td><a href="" class=" btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function()
    {
        $("#th-guojia li a").click(function()
        {
            $("#t-guojia tbody tr").hide().filter(":contains('" + ($(this).text()) + "')").show();
        });
        $("#th-zhengfu li a").click(function()
        {
            $("#t-zhengfu tbody tr").hide().filter(":contains('" + ($(this).text()) + "')").show();
        });
        $("#th-sanhao li a").click(function()
        {
            $("#t-sanhao tbody tr").hide().filter(":contains('" + ($(this).text()) + "')").show();
        });
        $("#th-xiao li a").click(function()
        {
            $("#t-xiao tbody tr").hide().filter(":contains('" + ($(this).text()) + "')").show();
        });
    });
</script>
</body>
</html>
