<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>国家助学金</title>
	<link rel='stylesheet prefetch' th:href='@{/css/bootstrap.min.css}'/>
	<link rel='stylesheet' th:href='@{/css/bootstrap-select.min.css}'/>
	<link rel='stylesheet' th:href='@{/css/user/scholarship/scholarship.css}'/>
	<link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/moment-with-locales.js}"></script>
	<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
	<script th:src="@{/js/moment-with-locales.js}"></script>
	<script th:src="@{/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/user/scholarship/ss.js}"></script>
	<script th:src="@{/js/user/scholarship/ng.js}"></script>
	<script th:src="@{/js/user/nav.js}"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
		<div class="navbar-header navbar-left ">
   			 <div class="scholarship-logo">
				 信息与电子工程学院 综合测评管理系统</div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
			<ul class="nav navbar-nav" id="menu">
					<li class="active"><a href="#">审核与填写规则</a></li>
					<li><a href="#">综测信息填写</a></li>
					<li><a href="#">查看审核状态</a></li>
					<li><a href="#">查看公示结果</a></li>
					<li><a href="#">在线文档生成</a></li>	
			</ul>
			    <ul class="nav navbar-nav">
			        <li class="navbar-text">
			            <a href="javascript:;" th:text="${session.userLogBean.account}" class="dropdown">1150299190
			            	<span class="caret"></span>
			            </a>
			                <ul class="dropdown-menu1">
				  		  		<li><a href="#">个人信息</a></li>
				   		  		<li><a href="/userLogout">退出登录</a></li>
				 			</ul>
			        </li>
			    </ul>
    </div>
</nav>
	<div class="container"> 
		<div class="col-md-2">
		</div>
		<div class="col-md-9">
			<div class="scholarship-title">国家助学金</div>
			<form class="myform" th:object="${ngBean}" action="/scholarship/ng" method="post">
				<div class="col-md-12 all-date" >
					<div class="col-md-4"></div>
					<div class="col-md-6">
						<div class="date" th:text="*{ts}">2016</div>
						<div class="date">学年——</div>
						<div class="date" th:text="*{te}">2017</div>
						<div class="date">学年</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon" >学院</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{school}" name="school"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon" >专业</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{major}" name="major"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">班级</div>
						<input type="text" class="form-control" disabled="disabled"  th:value="*{classNum}" name="classNum"/>
					</div>
				</div>
				 <div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon" >学号</div>
					    <input type="text" class="form-control" disabled="disabled" th:value="*{account}" name="account"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon" >姓名</div>
					    <input type="text" class="form-control" disabled="disabled" th:value="*{username}" name="username"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon"  style="border-right: 1px solid #ccc;">性别</div>
						<label class="radio-inline">
							<input type="radio" name="sex" value="男" id="man" th:checked="*{sex=='男'}"/> 男
						</label>
						<label class="radio-inline">
							<input type="radio" name="sex"  value="女" id="women" th:checked="*{sex=='女'}"/>女
						</label>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">出生年月</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{birth}" name="birth"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">入学时间</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{entrance}" name="entrance"/>
					</div>
				</div>
				<div class="form-group col-md-10">
					<div class="input-group" style="width: 642px;">
						<div class="input-group-addon">身份证</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{identity}" name="identity"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">政治面貌</div>
						<select class="selectpicker form-control" >
							<option value="群众" th:selected="*{political == '群众'}">群众</option>
							<option value="共青团员" th:selected="*{political == '共青团员'}">共青团员</option>
							<option value="预备党员" th:selected="*{political == '预备党员'}">预备党员</option>
							<option value="中共党员" th:selected="*{political == '中共党员'}">中共党员</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon" >联系电话</div>
						<input type="text" class="form-control" th:value="*{phone}" name="phone" id="phone" data-toggle="popover" data-content="" data-placement="bottom" data-html="true"/>
					</div>
					<div class="length-message2" id="phone-message"></div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">民族</div>
						<select name="nation" id="nation"  class="selectpicker form-control" th:value="*{nation}"></select>
					</div>
				</div>
				<div class="form-group col-md-10">
					<div class="input-group" style="width: 642px;">
					    <div class="input-group-addon" style="text-align: left;border:1px solid #ccc;border-radius: 4px;">家庭成员情况</div>
					</div>
				</div>
				<div class="form-group col-md-12" style="margin-left: -14px;" >
				<div class="form-group col-md-1">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="姓名" id="n1" style="width: 100px;border-radius: 4px;" th:value="*{fName1}" name="fName1"/>
					</div>
					<div class="length-message3" id="n1-message"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="年龄" id="a1" style="width: 100px;border-radius: 4px;margin-left: 35px;" th:value="*{age1}" name="age1"/>
					</div>
					<div class="length-message3" id="a1-message" style="text-align: right;"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group" style="width: 100%;">
						<input type="text" class="form-control" placeholder="与本人关系" id="r1" style="width: 100px;border-radius: 4px;margin-left: 10px;"  th:value="*{relation1}" name="relation1"/>
					</div>
					<div class="length-message3" id="r1-message"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group" style="width: 100%;">
						<input type="text" class="form-control" placeholder="工作或学习单位" id="p1" style="width: 286px;border-radius: 4px;margin-left: -20px;" data-toggle="popover" data-content="" data-placement="bottom" data-html="true" th:value="*{workPlace1}" name="workPlace1"/>
					</div>
					<div class="length-message3" id="p1-message"></div>
				</div>
				</div>
				<div class="form-group col-md-12" style="margin-left: -14px;">
				<div class="form-group col-md-1">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="姓名" id="n2" style="width: 100px;border-radius: 4px;" th:value="*{fName2}" name="fName2"/>
					</div>
					<div class="length-message3" id="n2-message"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="年龄" id="a2" style="width: 100px;border-radius: 4px;margin-left: 35px;" th:value="*{age2}" name="age2"/>
					</div>
					<div class="length-message3" id="a2-message" style="text-align: right;"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group" style="width: 100%;">
						<input type="text" class="form-control" placeholder="与本人关系" id="r2" style="width: 100px;border-radius: 4px;;margin-left: 10px;" th:value="*{relation2}" name="relation2"/>
					</div>
					<div class="length-message3" id="r2-message"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group" style="width: 100%;">
						<input type="text" class="form-control" placeholder="工作或学习单位" id="p2" style="width: 286px;border-radius: 4px;margin-left: -20px;" data-toggle="popover" data-content="" data-placement="bottom" data-html="true" th:value="*{workPlace2}" name="workPlace2"/>
					</div>
					<div class="length-message3" id="p2-message"></div>
				</div>
				</div>
				
				<div class="form-group col-md-12" style="margin-left: -14px;">
				<div class="form-group col-md-1">
					<div class="input-group">
						<input type="text" class="form-control name" placeholder="姓名" id="n3" style="width: 100px;border-radius: 4px;" th:value="*{fName3}" name="fName3"/>
					</div>
					<div class="length-message3" id="n3-message"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="年龄" id="a3" style="width: 100px;border-radius: 4px;margin-left: 35px;" th:value="*{age3}" name="age3"/>
					</div>
					<div class="length-message3" id="a3-message" style="text-align: right;"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group" style="width: 100%;">
						<input type="text" class="form-control" placeholder="与本人关系" id="r3" style="width: 100px;border-radius: 4px;;margin-left: 10px;" th:value="*{relation3}" name="relation3"/>
					</div>
					<div class="length-message3" id="r3-message"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group" style="width: 100%;">
						<input type="text" class="form-control" placeholder="工作或学习单位" id="p3" style="width: 286px;border-radius: 4px;margin-left: -20px;" data-toggle="popover" data-content="" data-placement="bottom" data-html="true" th:value="*{workPlace3}" name="workPlace3"/>
					</div>
					<div class="length-message3" id="p3-message"></div>
				</div>
				</div>
				
				<div class="form-group col-md-12" style="margin-left: -14px;">
				<div class="form-group col-md-1">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="姓名" id="n4" style="width: 100px;border-radius: 4px;"  th:value="*{fName4}" name="fName4"/>
					</div>
					<div class="length-message3" id="n4-message"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group">
						<input type="text" class="form-control" placeholder="年龄" id="a4" style="width: 100px;border-radius: 4px;margin-left: 35px;" th:value="*{age4}" name="age4"/>
					</div>
					<div class="length-message3" id="a4-message" style="text-align: right;"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group" style="width: 100%;">
						<input type="text" class="form-control" placeholder="与本人关系" id="r4" style="width: 100px;border-radius: 4px;;margin-left: 10px;" th:value="*{relation4}" name="relation4"/>
					</div>
					<div class="length-message3" id="r4-message"></div>
				</div>
				<div class="form-group col-md-2">
					<div class="input-group" style="width: 100%;">
						<input type="text" class="form-control" placeholder="工作或学习单位" id="p4" style="width: 286px;border-radius: 4px;margin-left: -20px;" data-toggle="popover" data-content="" data-placement="bottom" data-html="true" th:value="*{workPlace4}" name="workPlace4"/>
					</div>
					<div class="length-message3" id="p4-message"></div>
				</div>
				</div>


				<div class="form-group col-md-12" style="margin-left: -14px;" >
					<div class="form-group col-md-1">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="姓名" id="n5" style="width: 100px;border-radius: 4px;"  th:value="*{fName5}" name="fName5"/>
						</div>
						<div class="length-message3" id="n5-message"></div>
					</div>
					<div class="form-group col-md-2">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="年龄" id="a5" style="width: 100px;border-radius: 4px;margin-left: 35px;" th:value="*{age5}" name="age5"/>
						</div>
						<div class="length-message3" id="a5-message" style="text-align: right;"></div>
					</div>
					<div class="form-group col-md-2">
						<div class="input-group" style="width: 100%;">
							<input type="text" class="form-control" placeholder="与本人关系" id="r5" style="width: 100px;border-radius: 4px;margin-left: 10px;" th:value="*{relation5}" name="relation5"/>
						</div>
						<div class="length-message3" id="r5-message"></div>
					</div>
					<div class="form-group col-md-2">
						<div class="input-group" style="width: 100%;">
							<input type="text" class="form-control" placeholder="工作或学习单位" id="p5" style="width: 286px;border-radius: 4px;margin-left: -20px;" data-toggle="popover" data-content="" data-placement="bottom" data-html="true" th:value="*{workPlace5}" name="workPlace5"/>
						</div>
						<div class="length-message3" id="p5-message"></div>
					</div>
				</div>
				
			
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">家庭月收入</div>
					    <input type="text" class="form-control" id="month-input" th:value="*{monthIncome}" name="monthIncome"/>
					</div>
					<div style="text-align: right;color: red;" id="month-input-message"></div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon" style="border-right: 1px solid #ccc;">家庭户口</div>
					    <label class="radio-inline">
					    <input type="radio" name="resident" value="城镇" id="city" th:checked="*{resident == '城镇'}"/> 城镇
					    </label>
					    <label class="radio-inline">
					    <input type="radio" name="resident" value="农村" id="farm" data-toggle="popover" data-content="" data-placement="bottom" data-html="true" th:checked="*{resident == '农村'}"/> 农村
					    </label> 
					</div>
					<div class="length-message2" id="type"></div>
				</div>
				<div class="form-group col-md-8">
					<div class="input-group">
					    <div class="input-group-addon">收入来源</div>
					    <input type="text" class="form-control" placeholder="30字以内" style="width:562px;" id="input-form" data-toggle="popover" data-content="" data-placement="bottom" data-html="true" th:value="*{incomeSource}" name="incomeSource"/>
					</div>
				</div>
				<div class="form-group col-md-2" style="float: right;">
					<div id="input-form-message"  class="length-message"></div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">家庭人口数</div>
					    <input type="text" class="form-control" id="family-number" data-toggle="popover" data-content="" data-placement="bottom" data-html="true" th:value="*{familySum}" name="familySum"/>
					</div>
					<div style="text-align: right;color: red;" id="family-number-message"></div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">邮政编码</div>
					    <input type="text" class="form-control" id="email" data-toggle="popover" data-content="" data-placement="bottom" data-html="true"  th:value="*{postalCode}" name="postalCode"/>
					</div>
					<div style="text-align: right;color: red;" id="email-message"></div>
				</div>
				<div class="form-group col-md-8">
					<div class="input-group">
					    <div class="input-group-addon">家庭住址</div>
					    <input type="text" class="form-control" style="width: 562px;" placeholder="54字以内" id="home-address" data-toggle="popover" data-content="" data-placement="bottom" data-html="true"  th:value="*{address}" name="address"/>
					</div>
				</div>
				<div class="form-group col-md-2" style="float: right;">
					<div id="home-address-message" class="length-message"></div>
				</div>
 			<div class="form-group col-md-10">
					<div class="input-group" style="width: 800px;">
					    <div class="input-group-addon" style="border-right: 1px solid #ccc;">认定情况</div>
					    <label class="radio-inline" style="width: 200px;float: left;">
					    <input type="radio" name="situation" value="家庭经济特别困难" id="special" th:checked="*{situation == '家庭经济特别困难'}"/> 家庭经济特别困难
					    </label>
					    <label class="radio-inline" style="width: 200px;float: left;">
					    <input type="radio" name="situation"  value="家庭经济一般困难" id="common" data-toggle="popover" data-content="" data-placement="bottom" data-html="true" th:checked="*{situation == '家庭经济一般困难'}"/>  家庭经济一般困难
					    </label> 
					</div>
					<div class="length-message2" id="type2"></div>
				</div>
				<div class="form-group col-md-12">
					<div class="input-group" style="width: 649px;">
					    <div class="input-group-addon" style="text-align: left;border:1px solid #ccc;border-radius: 4px;border-bottom: none;">申请理由</div>
					</div>
					<textarea class="form-control" rows="4" style="width: 649px;resize:none;" placeholder="200字以内" id="text1" data-toggle="popover" data-content="" data-placement="right" data-html="true"  th:text="*{applyReason}" name="applyReason"></textarea>
					<div class="message" id="message1"></div>
					<div class="message" id="message2"></div>
				</div>
				<div class="form-group col-md-10">
					<div class="input-group" style="width: 649px;">
					    <div class="input-group-addon" style="text-align: left;border:1px solid #ccc;border-radius: 4px;border-bottom: none;">院(系)意见</div>
					</div>
					<textarea class="form-control" rows="4" style="width: 649px;resize:none;" placeholder="100字以内" disabled="disabled" th:text="*{opinion}" name="opinion"></textarea>
				</div>
				<div class="form-group col-md-10">
					<input type="submit" class="btn btn-primary" id="submit"/>
				</div>

			</form>
		</div>
	</div>
</body>
</html>