<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>校奖学金页面</title>
	<link rel='stylesheet prefetch' th:href='@{/css/bootstrap.min.css}'/>
	<link rel='stylesheet' th:href='@{/css/bootstrap-select.min.css}'/>
	<link rel='stylesheet' th:href='@{/css/user/scholarship/scholarship.css}'/>
	<link rel='stylesheet' th:href='@{/css/user/scholarship/ss.css}'/>
	<link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
  	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/moment-with-locales.js}"></script>
	<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
	<script th:src="@{/js/moment-with-locales.js}"></script>
	<script th:src="@{/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/user/scholarship/ss.js}"></script>
	<script th:src="@{/js/user/scholarship/tas.js}"></script>
	<script th:src="@{/js/user/nav.js}"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
		<div class="navbar-header navbar-left ">
   			 <div class="scholarship-logo">
				 信息与电子工程学院 综合测评管理系统</div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
			<ul class="nav navbar-nav" id="menu">
					<li class="active"><a href="#">审核与填写规则</a></li>
					<li><a href="#">综测信息填写</a></li>
					<li><a href="#">查看审核状态</a></li>
					<li><a href="#">查看公示结果</a></li>
					<li><a href="#">在线文档生成</a></li>	
			</ul>
			    <ul class="nav navbar-nav">
			        <li class="navbar-text">
			            <a href="javascript:;" th:text="${session.userLogBean.account}" class="dropdown">1150299190
			            	<span class="caret"></span>
			            </a>
			                <ul class="dropdown-menu1">
				  		  		<li><a href="#">修改密码</a></li>
				   		  		<li><a href="/userLogout">退出登录</a></li>
				 			</ul>
			        </li>
			    </ul>
    </div>
</nav>
	<div class="container">
		<div class="col-md-2">
		</div>
		<div class="col-md-9">
			<div class="scholarship-title">校奖学金</div>
			<form class="myform" th:object="${ssBean}" action="/scholarship/ss" method="post">
				<div class="col-md-12 all-date" >
					<div class="col-md-4"></div>
					<div class="col-md-6">
						<div class="date" th:text="*{ts}">2016</div>
						<div class="date">学年——</div>
						<div class="date" th:text="*{te}">2017</div>
						<div class="date">学年</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon" >学院</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{school}" name="school"/>
					</div>
				</div>
				 <div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon" >学号</div>
					    <input type="text" class="form-control" disabled="disabled" th:value="*{account}" name="account"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">姓名</div>
					    <input type="text" class="form-control" disabled="disabled" th:value="*{username}" name="username"/>
					</div>
				</div>

				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">专业</div>
					    <input type="text" class="form-control" disabled="disabled" th:value="*{major}" name="major"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">班级</div>
					    <input type="text" class="form-control" disabled="disabled" th:value="*{classNum}" name="classNum"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon"  style="border-right: 1px solid #ccc;">性别</div>
						<label class="radio-inline">
							<input type="radio" name="sex" value="男" id="man" th:checked="*{sex=='男'}"/> 男
						</label>
						<label class="radio-inline">
							<input type="radio" name="sex"  value="女" id="women" th:checked="*{sex=='女'}"/>女
						</label>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">政治面貌</div>
						<select class="selectpicker form-control" >
							<option value="群众" th:selected="*{political == '群众'}">群众</option>
							<option value="共青团员" th:selected="*{political == '共青团员'}">共青团员</option>
							<option value="预备党员" th:selected="*{political == '预备党员'}">预备党员</option>
							<option value="中共党员" th:selected="*{political == '中共党员'}">中共党员</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">担任职务</div>
						<input type="text" class="form-control" placeholder="无职务则写无" id="job" data-toggle="popover" data-content="" data-placement="bottom" data-html="true" th:value="*{job}" name="job"/>
					</div>
					<div class="length-message2"></div>
				</div>
				<div class="form-group col-md-8">
					<div class="input-group">
					    <div class="input-group-addon">民族</div>
						<select name="nation" id="nation"  class="selectpicker form-control" th:value="*{nation}"></select>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group ">
					    <div class="input-group-addon">品德素质(15分)</div>
					     <input type="text" class="form-control" disabled="disabled" th:value="*{charact}" name="charact"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">学业素质(70分)</div>	
					    <input type="text" class="form-control" disabled="disabled" th:value="*{study}" name="study"/>
					</div>				 
				</div>

				<div class="form-group col-md-5" >
					<div class="input-group">
					    <div class="input-group-addon">发展能力素质(15分)</div>
					     <input type="text" class="form-control" disabled="disabled" th:value="*{ability}" name="ability"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">总分</div>
					     <input type="text" class="form-control" disabled="disabled" th:value="*{total}" name="total"/>
					</div>
				</div>
				<div class="form-group col-md-8">
					<div class="input-group">
					    <div class="input-group-addon">专业名次</div>
					    <input type="text" class="form-control" disabled="disabled" th:value="*{ceRank}" name="ceRank"/>
					</div>
				</div>
				<div class="form-group col-md-12">
					<div class="input-group">
					    <div class="input-group-addon">奖学金等级</div>
					    <input type="text" class="form-control" disabled="disabled" style="width: 549px;" th:value="*{rank}" name="rank"/>
					</div>
				</div>	
				<div class="form-group col-md-12">
					<div class="input-group" style="width: 649px;">
					    <div class="input-group-addon" style="text-align: left;border:1px solid #ccc;border-radius: 4px;border-bottom: none;">主要事迹与表现</div>
					</div>
					<textarea class="form-control" rows="4" style="width: 649px;resize:none;" placeholder="200字以内" id="text1" data-toggle="popover" data-content="" data-placement="right" data-html="true" th:text="*{reason}" name="reason"></textarea>
					<div class="message" id="message1"></div>
					<div class="message" id="message2"></div>
				</div>

				<div class="form-group col-md-10">
					<div class="input-group" style="width: 649px;">
					    <div class="input-group-addon" style="text-align: left;border:1px solid #ccc;border-radius: 4px;border-bottom: none;">二级学工组意见</div>
					</div>
					<textarea class="form-control" rows="4" style="width: 649px;resize:none;" placeholder="100字以内" disabled="disabled" th:text="*{opinion}" name="opinion"></textarea>
				</div>
				<div class="form-group col-md-10">
					<input type="submit" class="btn btn-primary" id="submit"/>
				</div>
			</form>
		</div>
	</div>
</body>
</html>