<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>三好学生</title>
	<link rel='stylesheet prefetch' th:href='@{/css/bootstrap.min.css}'/>
	<link rel='stylesheet' th:href='@{/css/bootstrap-select.min.css}'/>
	<link rel='stylesheet' th:href='@{/css/jquery-ui.css}'/>
	<link rel='stylesheet' th:href='@{/css/user/scholarship/scholarship.css}'/>
	<link rel='stylesheet' th:href='@{/css/user/scholarship/ss.css}'/>
	<link th:href="@{/css/bootstrap-datetimepicker.css}" rel="stylesheet" />
	<link th:href="@{/static/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
	<script th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/moment-with-locales.js}"></script>
	<script th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
	<script th:src="@{/js/moment-with-locales.js}"></script>
	<script th:src="@{/js/bootstrap-select.min.js}"></script>
	<script th:src="@{/js/user/scholarship/ss.js}"></script>
	<script th:src="@{/js/user/scholarship/tas.js}"></script>
	<script th:src="@{/js/user/nav.js}"></script>
	<script th:inline="javascript">
		console.log("political:"+[[${basicScholarshipBean.nation}]]);
	</script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
		<div class="navbar-header navbar-left ">
			<div class="scholarship-logo" style="margin-left: 2%;">奖学金申报系统</div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
			<ul class="nav navbar-nav" id="menu">
				<li class="active"><a href="/scholarship/index">在线文档生成</a></li>
			</ul>
			<ul class="nav navbar-nav">
				<li class="navbar-text" style="margin-top: 0px;">
					<a href="javascript:;" th:text="${session.userLogBean.account}" class="dropdown">
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu1">
						<li><a href="javascript:void(0)" data-toggle="modal" data-target="#changePassword">修改密码</a></li>
						<li><a href="/userLogout">退出登录</a></li>
					</ul>
				</li>
			</ul>
    </div>
</nav>
	<div class="container">
		<div class="col-md-2">
		</div>

		<div class="col-md-9">
			<div class="scholarship-title">三好学生</div>
			<form class="myform" th:object="${basicScholarshipBean}" action="/scholarship/tas" method="post">
				<div class="col-md-12 all-date">
					<div class="col-md-4"></div>
					<div class="col-md-6">
						<div class="date" th:text="*{timeStart}">2016</div>
						<div class="date">学年——</div>
						<div class="date" th:text="*{timeEnd}">2017</div>
						<div class="date">学年</div>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon" >学院</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{school}" name="school"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">专业</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{major}" name="major"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">班级</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{classNum}" name="className"/>
					</div>
				</div>
				 <div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon" >学号</div>
					    <input type="text" class="form-control" disabled="disabled" th:value="*{account}" name="account"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">姓名</div>
					    <input type="text" class="form-control" disabled="disabled" th:value="*{username}" name="username"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon"  style="border-right: 1px solid #ccc;">性别</div>
						<label class="radio-inline">
							<input type="radio" name="sex" value="男" id="man" th:checked="*{sex=='男'}"/> 男
						</label>
						<label class="radio-inline">
							<input type="radio" name="sex"  value="女" id="women" th:checked="*{sex=='女'}"/>女
						</label>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group ">
						<div class="input-group-addon">品德素质(15分)</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{charact}" name="charact"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">学业素质(70分)</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{study}" name="study"/>
					</div>
				</div>
				<div class="form-group col-md-5" >
					<div class="input-group">
						<div class="input-group-addon">发展能力素质(15分)</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{ability}" name="ability"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">总分</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{total}" name="total"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">专业名次</div>
						<input type="text" class="form-control" disabled="disabled" th:value="*{ceRank}" name="ceRank"/>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">政治面貌</div>
						<select class="selectpicker form-control" name="political" >
							<option value="群众" th:selected="*{political == '群众'}">群众</option>
							<option value="共青团员" th:selected="*{political == '共青团员'}">共青团员</option>
							<option value="预备党员" th:selected="*{political == '预备党员'}">预备党员</option>
							<option value="中共党员" th:selected="*{political == '中共党员'}">中共党员</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
					    <div class="input-group-addon">民族</div>
						<select name="nation"  class="selectpicker form-control">
							<option value="汉族" th:selected="*{nation == '汉族'}">汉族</option>
							<option value="蒙古族" th:selected="*{nation == '蒙古族'}">蒙古族</option>
							<option value="回族" th:selected="*{nation == '回族'}">回族</option>
							<option value="藏族" th:selected="*{nation == '藏族'}">藏族</option>
							<option value="维吾尔族" th:selected="*{nation == '维吾尔族'}">维吾尔族</option>
							<option value="苗族" th:selected="*{nation == '苗族'}">苗族</option>
							<option value="彝族" th:selected="*{nation == '彝族'}">彝族</option>
							<option value="壮族" th:selected="*{nation == '壮族'}">壮族</option>
							<option value="布依族" th:selected="*{nation == '布依族'}">布依族</option>
							<option value="朝鲜族" th:selected="*{nation == '朝鲜族'}">朝鲜族</option>
							<option value="满族" th:selected="*{nation == '满族'}">满族</option>
							<option value="侗族" th:selected="*{nation == '侗族'}">侗族</option>
							<option value="瑶族" th:selected="*{nation == '瑶族'}">瑶族</option>
							<option value="白族" th:selected="*{nation == '白族'}">白族</option>
							<option value="土家族" th:selected="*{nation == '土家族'}">土家族</option>
							<option value="哈尼族" th:selected="*{nation == '哈尼族'}">哈尼族</option>
							<option value="哈萨克族" th:selected="*{nation == '哈萨克族'}">哈萨克族</option>
							<option value="黎族" th:selected="*{nation == '黎族'}">黎族</option>
							<option value="傈僳族" th:selected="*{nation == '傈僳族'}">傈僳族</option>
							<option value="佤族" th:selected="*{nation == '佤族'}">佤族</option>
							<option value="畲族" th:selected="*{nation == '畲族'}">畲族</option>
							<option value="高山族" th:selected="*{nation == '高山族'}">高山族</option>
							<option value="水族" th:selected="*{nation == '水族'}">水族</option>
							<option value="东乡族" th:selected="*{nation == '东乡族'}">东乡族</option>
							<option value="纳西族" th:selected="*{nation == '纳西族'}">纳西族</option>
							<option value="景颇族" th:selected="*{nation == '景颇族'}">景颇族</option>
							<option value="柯尔克孜族" th:selected="*{nation == '柯尔克孜族'}">柯尔克孜族</option>
							<option value="土族" th:selected="*{nation == '土族'}">土族</option>
							<option value="达斡尔族" th:selected="*{nation == '达斡尔族'}">达斡尔族</option>
							<option value="仫佬族" th:selected="*{nation == '仫佬族'}">仫佬族</option>
							<option value="羌族" th:selected="*{nation == '羌族'}">羌族</option>
							<option value="布朗族" th:selected="*{nation == '布朗族'}">布朗族</option>
							<option value="撒拉族" th:selected="*{nation == '撒拉族'}">撒拉族</option>
							<option value="毛南族" th:selected="*{nation == '毛南族'}">毛南族</option>
							<option value="仡佬族" th:selected="*{nation == '仡佬族'}">仡佬族</option>
							<option value="锡伯族" th:selected="*{nation == '锡伯族'}">锡伯族</option>
							<option value="阿昌族" th:selected="*{nation == '阿昌族'}">阿昌族</option>
							<option value="普米族" th:selected="*{nation == '普米族'}">普米族</option>
							<option value="塔吉克族" th:selected="*{nation == '塔吉克族'}">塔吉克族</option>
							<option value="怒族" th:selected="*{nation == '怒族'}">怒族</option>
							<option value="乌孜别克族" th:selected="*{nation == '乌孜别克族'}">乌孜别克族</option>
							<option value="俄罗斯族" th:selected="*{nation == '俄罗斯族'}">俄罗斯族</option>
							<option value="鄂温克族" th:selected="*{nation == '鄂温克族'}">鄂温克族</option>
							<option value="德昂族" th:selected="*{nation == '德昂族'}">德昂族</option>
							<option value="保安族" th:selected="*{nation == '保安族'}">保安族</option>
							<option value="裕固族" th:selected="*{nation == '裕固族'}">裕固族</option>
							<option value="京族" th:selected="*{nation == '京族'}">京族</option>
							<option value="塔塔尔族" th:selected="*{nation == '塔塔尔族'}">塔塔尔族</option>
							<option value="独龙族" th:selected="*{nation == '独龙族'}">独龙族</option>
							<option value="鄂伦春族" th:selected="*{nation == '鄂伦春族'}">鄂伦春族</option>
							<option value="赫哲族" th:selected="*{nation == '赫哲族'}">赫哲族</option>
							<option value="门巴族" th:selected="*{nation == '门巴族'}">门巴族</option>
							<option value="珞巴族" th:selected="*{nation == '珞巴族'}">珞巴族</option>
							<option value="保安族" th:selected="*{nation == '保安族'}">保安族</option>
							<option value="基诺族" th:selected="*{nation == '基诺族'}">基诺族</option>
						</select>
					</div>
				</div>
				<div class="form-group col-md-5">
					<div class="input-group">
						<div class="input-group-addon">担任职务</div>
						<input type="text" class="form-control" data-toggle="popover" data-content="" data-placement="bottom" data-am-popover="{theme:'danger'}" data-html="true" placeholder="无职务则写无" id="job" th:value="*{job}" name="job"/>
					</div>
					<div class="length-message2"></div>
				</div>
				<div class="form-group col-md-12">
					<div class="input-group" style="width: 649px;">
					    <div class="input-group-addon" id="zhuyao">主要事迹与表现</div>
					</div>
					<textarea class="form-control" rows="4" style="width: 649px;resize:none;" placeholder="200字以内" id="text1" data-toggle="popover" data-content="" data-placement="right" data-html="true" th:text="*{applyReason}" name="applyReason"></textarea>
					<div class="message" id="message1"></div>
					<div class="message" id="message2"></div>
				</div>
				<div class="form-group col-md-10">
					<div class="input-group" style="width: 649px;">
					    <div class="input-group-addon" id="zhuyao">二级学工组意见</div>
					</div>
					<textarea class="form-control" rows="4" style="width: 649px;resize:none;" placeholder="100字以内" disabled="disabled" th:text="*{opinion}" name="opinion"></textarea>
				</div>
				<div class="form-group col-md-10">
					<input type="submit" class="btn btn-primary" id="submit"/>
				</div>
			</form>
		</div>
	</div>

<!--修改密码model-->
<div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="changePasswordModalLabel">修改密码</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-user"></i>
						</div>
						<input type="text" class="form-control" name="account" id="userID" th:value="${session.userLogBean.account}" autocomplete="off" disabled="disabled" style="height: 38px;width: 150%;"/>

					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							原密码
						</div>
						<input type="password" class="form-control" name="password" id="password1" placeholder="原密码" autocomplete="off" style="height: 38px;width: 150%;"/>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							新密码
						</div>
						<input type="password" class="form-control" name="password" id="password2" placeholder="新密码" autocomplete="off" style="height: 38px;width: 150%;"/>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">
							确认新密码
						</div>
						<input type="password" class="form-control" name="confirmPassword" id="password3" placeholder="确认新密码" autocomplete="off" style="height: 38px;width: 150%;"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" id="ok" onclick="fire_ajax_change_password(event)" data-dismiss="modal">确认修改</button>
			</div>
		</div>
	</div>
</div>

</body>
<script>

    function fire_ajax_change_password(event) {
        $.ajax({
            method:"post",
            url:"/evaluation/changePassword",
            data:{
                "oldPassword":$("#password1").val(),
                "newPassword":$("#password2").val(),
                "confirmPassword":$("#password3").val()
            },
            dataType: "json",
            success:function (result) {
                alert(result.status);
            }
        });
    }

</script>
</html>
