.canwrite-itme{
	margin-left: 5%;
	margin-top: 10%;
}
.canwrite-itme li a{
	display: block;
	float: left;
	text-align: center;
	line-height: 30px;
	margin: 1%;
	width: 130px;
	font-size: 15px;
	border-radius: 4px;
}
.blue{
	color: #337ab7;
	border:1px solid #337ab7;
}
.green{
	color: #42c342;
	border:1px solid #42c342;
}
.gray{
	color: #999;
	border:1px solid #999;
}