<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/scholarship.css}"/>
</head>
<body>
    <!--上方-->
    <div class="scholarship-header">
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${session.userssBean.userId}"></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="changePassword">修改密码</a>
                    </dd>
                    <dd>
                        <a href="/uLogout">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-container">
        <div class="layui-row layui-col-space5">
            <div class="layui-col-lg-offset3 layui-col-lg9 layui-col-md-offset3 layui-col-md9">
                <div class="scholarship-title">
                    修改密码
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-lg3 layui-col-md3">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content">
                            <a href="nationalInspirationalScholarship" class="scholarship-link">
                                <div class="layui-timeline-title">国家励志奖学金</div>
                            </a>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content">
                            <a href="provincialGovernmentScholarship" class="scholarship-link">
                                <div class="layui-timeline-title">省政府奖学金</div>
                            </a>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content">
                            <a href="schoolScholarship" class="scholarship-link">
                                <div class="layui-timeline-title">校奖学金</div>
                            </a>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content">
                            <a href="tripleAStudent" class="scholarship-link">
                                <div class="layui-timeline-title">三好学生</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="layui-col-lg9 layui-col-md9">
                <form action="" class="layui-form layui-form-pane change-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">旧密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"></div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">再次输入</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
                        </div>
                        <div class="layui-form-mid layui-word-aux"></div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="lay-submit" lay-filter="formDemo">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
<script th:src="@{/js/plugins/jquery-3.1.1.min.js}"/>
<script th:src="@{/js/plugins/html5shiv.min.js}"/>
<script th:src="@{/plugins/layui/layui.js}"/>
<script>
    layui.use(['form', 'element'], function()
    {
        var element = layui.element;
        var form = layui.form;
    })
</script>
</html>
