<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>国家励志奖学金</title>
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/scholarship.css}"/>
</head>
<body>
    <!--上方-->
    <div class="scholarship-header">
        <div class="scholarship-logo">
            信息与电子工程学院 奖学金申报系统
        </div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;" th:text="${session.userssBean.userId}"></a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="changePassword">修改密码</a>
                    </dd>
                    <dd>
                        <a href="/uLogout">退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-container">
        <div class="layui-row layui-col-space5">
            <div class="layui-col-lg-offset3 layui-col-lg9 layui-col-md-offset3 layui-col-md9">
                <div class="scholarship-title">
                    国家励志奖学金
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-lg3 layui-col-md3">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content">
                            <a href="nationalInspirationalScholarship" class="scholarship-link">
                                <div class="layui-timeline-title">国家励志奖学金</div>
                            </a>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content">
                            <a href="provincialGovernmentScholarship" class="scholarship-link">
                                <div class="layui-timeline-title">省政府奖学金</div>
                            </a>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content">
                            <a href="schoolScholarship" class="scholarship-link">
                                <div class="layui-timeline-title">校奖学金</div>
                            </a>
                        </div>
                    </li>
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content">
                            <a href="tripleAStudent" class="scholarship-link">
                                <div class="layui-timeline-title">三好学生</div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="layui-col-lg9 layui-col-md9">
                <form class="layui-form layui-form-pane" action="/u/nationalInspirationalScholarship/submit" method="post" th:object="${nationalinspirationalscholarshipBean}">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">学号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="userId" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" value="1150299303" th:value="*{userId}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" value="sq" th:value="*{username}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">专业</label>
                            <div class="layui-input-inline">
                                <input type="text" name="major" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" value="软件工程" th:value="*{major}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">班级</label>
                            <div class="layui-input-inline">
                                <input type="text" name="z" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" value="152" th:value="*{classId}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="phone" required="required" lay-verify="required|phone" autocomplete="off" class="layui-input" th:value="*{phone}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">性别</label>
                            <div class="layui-input-inline">
                                <input type="radio" name="sex" value="男" title="男" checked="" th:checked="*{sex == '男'}"/>
                                <input type="radio" name="sex" value="女" title="女" th:checked="*{sex == '女'}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">政治面貌</label>
                            <div class="layui-input-inline">
                                <select name="political" required="required" lay-verify="required">
                                    <option value=""></option>
                                    <option value="群众" th:selected="*{political == '群众'}">群众</option>
                                    <option value="共青团员" th:selected="*{political == '共青团员'}">共青团员</option>
                                    <option value="预备党员" th:selected="*{political == '预备党员'}">预备党员</option>
                                    <option value="中共党员" th:selected="*{political == '中共党员'}">中共党员</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">出生年月</label>
                            <div class="layui-input-inline">
                                <input type="text" id="birth" required="required" lay-verify="required" name="birth" placeholder="例：1996年12月" autocomplete="off" class="layui-input" th:value="*{birth}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">民族</label>
                            <div class="layui-input-inline">
                                <select name="nation" id="nation" required="required" lay-verify="required" lay-search="" th:value="*{nation}"></select>
                                <!--<input type="text" name="nation" placeholder="汉族" autocomplete="off" class="layui-input"/>-->
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">入学时间</label>
                            <div class="layui-input-inline">
                                <input type="text" id="entrance" name="entrance" required="required" lay-verify="required" placeholder="例：2015年09月" autocomplete="off" class="layui-input" th:value="*{entrance}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">身份证</label>
                        <div class="layui-input-block">
                            <input type="text" name="identity" required="required" lay-verify="required|identity" autocomplete="off" class="layui-input" th:value="*{identity}"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">绩点排名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="gpRank" value="1/72" placeholder="绩点排名" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" th:value="*{gpRank}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">综测排名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="ceRank" value="1/72" placeholder="综测排名" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" th:value="*{ceRank}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">必修课</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="passSum" required="required" lay-verify="required|number" placeholder="及格门数" autocomplete="off" class="layui-input" th:value="*{passSum}"/>
                        </div>
                        <div class="layui-form-mid">/</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="subSum" required="required" lay-verify="required|number" placeholder="总门数" autocomplete="off" class="layui-input" th:value="*{subSum}"/>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text" style="margin-bottom: 5px">
                        <label class="layui-form-label">获奖情况</label>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" id="date1" name="date1" placeholder="日期" autocomplete="off" class="layui-input" th:value="*{date1}"/>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 290px;">
                                <input type="text" name="award1" lay-verify="scholarshipName" placeholder="奖项名称（34字以内）" autocomplete="off" class="layui-input" th:value="*{award1}"/>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 240px;">
                                <input type="text" name="unit1" lay-verify="scholarshipUnit" placeholder="颁奖单位（30字内）" autocomplete="off" class="layui-input" th:value="*{unit1}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" id="date2" name="date2"  placeholder="日期" autocomplete="off" class="layui-input" th:value="*{date2}"/>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 290px;">
                                <input type="text" name="award2" lay-verify="scholarshipName" placeholder="奖项名称（34字以内）" autocomplete="off" class="layui-input" th:value="*{award2}"/>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 240px;">
                                <input type="text" name="unit2" lay-verify="scholarshipUnit" placeholder="颁奖单位（30字内）" autocomplete="off" class="layui-input" th:value="*{unit2}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" id="date3" name="date3" placeholder="日期" autocomplete="off" class="layui-input" th:value="*{date3}"/>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 290px;">
                                <input type="text" name="award3" lay-verify="scholarshipName" placeholder="奖项名称（34字以内）" autocomplete="off" class="layui-input" th:value="*{award3}"/>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 240px;">
                                <input type="text" name="unit3" lay-verify="scholarshipUnit" placeholder="颁奖单位（30字内）" autocomplete="off" class="layui-input" th:value="*{unit3}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 100px;">
                                <input type="text" id="date4" name="date4" placeholder="日期" autocomplete="off" class="layui-input" th:value="*{date4}"/>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 290px;">
                                <input type="text" name="award4" lay-verify="scholarshipName" placeholder="奖项名称（34字以内）" autocomplete="off" class="layui-input" th:value="*{award4}"/>
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 240px;">
                                <input type="text" name="unit4" lay-verify="scholarshipUnit" placeholder="颁奖单位（30字内）" autocomplete="off" class="layui-input" th:value="*{unit4}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">家庭月收入</label>
                            <div class="layui-input-inline">
                                <input type="text" name="monthIncome" required="required" lay-verify="required|number" autocomplete="off" class="layui-input" th:value="*{monthIncome}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">家庭户口</label>
                            <div class="layui-input-block">
                                <input type="radio" name="resident" value="城镇" title="城镇" checked="" th:checked="*{resident == '城镇'}"/>
                                <input type="radio" name="resident" value="农村" title="农村" th:checked="*{resident == '农村'}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">收入来源</label>
                        <div class="layui-input-block">
                            <input type="text" required="required" lay-verify="required" placeholder="30字以内" name="incomeSource" autocomplete="off" class="layui-input" th:value="*{incomeSource}"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">家庭人口数</label>
                            <div class="layui-input-inline">
                                <input type="text" name="familySum" required="required" lay-verify="required|number" autocomplete="off" class="layui-input" th:value="*{familySum}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">邮政编码</label>
                            <div class="layui-input-inline">
                                <input type="text" name="postalCode" required="required" lay-verify="required|postcode" autocomplete="off" class="layui-input" th:value="*{postalCode}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-block">
                            <label class="layui-form-label">家庭住址</label>
                            <div class="layui-input-block">
                                <input type="text" placeholder="54字以内" required="required" lay-verify="required|address" name="address" autocomplete="off" class="layui-input" th:value="*{address}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">认定情况</label>
                            <div class="layui-input-block">
                                <input type="radio" name="situation" value="家庭经济特别困难" title="家庭经济特别困难" checked="" th:checked="*{situation == '家庭经济特别困难'}"/>
                                <input type="radio" name="situation" value="家庭经济一般困难" title="家庭经济一般困难" th:checked="*{situation == '家庭经济一般困难'}"/>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">申请理由</label>
                        <div class="layui-input-block">
                            <textarea name="applyReason" required="required" lay-verify="required|applyReason" placeholder="200字以内" class="layui-textarea" th:text="*{applyReason}"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">院（系）意见</label>
                        <div class="layui-input-block">
                            <textarea name="opinion" lay-verify="applyReason" placeholder="100字以内" class="layui-textarea layui-disabled" disabled="disabled" th:text="*{opinion}"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-normal" lay-submit="lay-submit">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/plugins/jquery-3.1.1.min.js}"/>
<script th:src="@{/js/plugins/html5shiv.min.js}"/>
<script th:src="@{/plugins/layui/layui.js}"/>
<script th:src="@{/js/scholarship.js}" th:inline="javascript"/>
<script type="text/javascript" th:inline="javascript">
    layui.use(['form'], function()
    {
        var form = layui.form;

        var nationArray = ["", "汉族","蒙古族","回族","藏族","维吾尔族","苗族","彝族","壮族","布依族","朝鲜族","满族","侗族","瑶族","白族","土家族",
            "哈尼族","哈萨克族","傣族","黎族","傈僳族","佤族","畲族","高山族","拉祜族","水族","东乡族","纳西族","景颇族","柯尔克孜族",
            "土族","达斡尔族","仫佬族","羌族","布朗族","撒拉族","毛南族","仡佬族","锡伯族","阿昌族","普米族","塔吉克族","怒族", "乌孜别克族",
            "俄罗斯族","鄂温克族","德昂族","保安族","裕固族","京族","塔塔尔族","独龙族","鄂伦春族","赫哲族","门巴族","珞巴族","基诺族"];


        /*<![CDATA[*/
        var myNation = /*[[${nationalinspirationalscholarshipBean.nation}]]*/;


        var $nationSelect = $("#nation");
        for(var i = 0; i < nationArray.length; i++){
            if(myNation == nationArray[i])
            {
                $nationSelect.append(`<option value='${nationArray[i]}' selected>${nationArray[i]}</option>`);
            }
            else
            {
                $nationSelect.append(`<option value='${nationArray[i]}'>${nationArray[i]}</option>`);
            }
        }
        /*]]>*/
        form.render('select');
    })
</script>
</html>
