<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/scholarship.css}"/>
</head>
<body>
<!--上方-->
<div class="scholarship-header">
    <!--<div class="scholarship-logo">-->
    <!--奖学金填写-->
    <!--</div>-->
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a href="">奖学金填写</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="nationalInspirationalScholarship">国家励志奖学金</a>
                </dd>
                <dd>
                    <a href="provincialGovernmentScholarship">省政府奖学金</a>
                </dd>
                <dd>
                    <a href="schoolScholarship">校奖学金</a>
                </dd>
                <dd>
                    <a href="tripleAStudent">三好学生</a>
                </dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">1150299303</a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:void(0)">修改密码</a>
                </dd>
                <dd>
                    <a href="javascript:void(0)">退出</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space5">
        <div class="layui-col-lg-offset3 layui-col-lg9 layui-col-md-offset3 layui-col-md9">
            <div class="scholarship-title">
                国家励志奖学金
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-lg3 layui-col-md3">
            <ul class="layui-timeline">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content">
                        <a href="nationalInspirationalScholarship" class="scholarship-link">
                            <div class="layui-timeline-title">国家励志奖学金</div>
                        </a>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content">
                        <a href="provincialGovernmentScholarship" class="scholarship-link">
                            <div class="layui-timeline-title">省政府奖学金</div>
                        </a>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content">
                        <a href="schoolScholarship" class="scholarship-link">
                            <div class="layui-timeline-title">校奖学金</div>
                        </a>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content">
                        <a href="tripleAStudent" class="scholarship-link">
                            <div class="layui-timeline-title">三好学生</div>
                        </a>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content">
                        <a href="changePassword" class="scholarship-link">
                            <div class="layui-timeline-title">修改密码</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="layui-col-lg9 layui-col-md9">

        </div>
        <!--<select name="major" required="required" lay-verify="required">-->
            <!--<option value=""></option>-->
            <!--<option value="软件工程">软件工程</option>-->
            <!--<option value="计算机科学与技术">计算机科学与技术</option>-->
            <!--<option value="数字媒体技术">数字媒体技术</option>-->
            <!--<option value="物联网工程">物联网工程</option>-->
            <!--<option value="通信工程">通信工程</option>-->
            <!--<option value="电子信息工程">电子信息工程</option>-->
        <!--</select>-->
    </div>
</div>
</body>
<script th:src="@{/js/plugins/jquery-3.1.1.min.js}"/>
<script th:src="@{/js/plugins/html5shiv.min.js}"/>
<script th:src="@{/plugins/layui/layui.js}"/>
<script th:src="@{/js/scholarship.js}"/>
</html>
