<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>三好学生</title>
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/scholarship.css}"/>
</head>
<body>
<!--上方-->
<div class="scholarship-header">
    <div class="scholarship-logo">
        信息与电子工程学院 奖学金申报系统
    </div>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;" th:text="${session.userssBean.userId}"></a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="changePassword">修改密码</a>
                </dd>
                <dd>
                    <a href="/uLogout">退出</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>

<div class="layui-container">
    <div class="layui-row layui-col-space5">
        <div class="layui-col-lg-offset3 layui-col-lg9 layui-col-md-offset3 layui-col-md9">
            <div class="scholarship-title">
                三好学生
            </div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-col-lg3 layui-col-md3">
            <ul class="layui-timeline">
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content">
                        <a href="nationalInspirationalScholarship" class="scholarship-link">
                            <div class="layui-timeline-title">国家励志奖学金</div>
                        </a>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content">
                        <a href="nationalGrant" class="scholarship-link">
                            <div class="layui-timeline-title">国家助学金</div>
                        </a>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content">
                        <a href="provincialGovernmentScholarship" class="scholarship-link">
                            <div class="layui-timeline-title">省政府奖学金</div>
                        </a>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content">
                        <a href="schoolScholarship" class="scholarship-link">
                            <div class="layui-timeline-title">校奖学金</div>
                        </a>
                    </div>
                </li>
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                    <div class="layui-timeline-content">
                        <a href="tripleAStudent" class="scholarship-link">
                            <div class="layui-timeline-title">三好学生</div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="layui-col-lg9 layui-col-md9">
            <form class="layui-form layui-form-pane" action="/u/tripleAStudent/submit" method="post" th:object="${tripleastudentBean}">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">学号</label>
                        <div class="layui-input-inline">
                            <input type="text" name="userId" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" th:value="*{userId}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="username" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" th:value="*{username}"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">专业</label>
                        <div class="layui-input-inline">
                            <input type="text" name="major" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" th:value="*{major}"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">班级</label>
                        <div class="layui-input-inline">
                            <input type="text" name="classId" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" th:value="*{classId}"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">政治面貌</label>
                        <div class="layui-input-inline">
                            <select name="political" required="required" lay-verify="required">
                                <option value=""></option>
                                <option value="群众" th:selected="*{political == '群众'}">群众</option>
                                <option value="共青团员" th:selected="*{political == '共青团员'}">共青团员</option>
                                <option value="预备党员" th:selected="*{political == '预备党员'}">预备党员</option>
                                <option value="中共党员" th:selected="*{political == '中共党员'}">中共党员</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-inline">
                            <input type="radio" name="sex" value="男" title="男" checked="" th:checked="*{sex == '男'}"/>
                            <input type="radio" name="sex" value="女" title="女" th:checked="*{sex == '女'}"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">民族</label>
                        <div class="layui-input-inline">
                            <select name="nation" id="nation" required="required" lay-verify="required" lay-search=""></select>
                            <!--<input type="text" name="nation" placeholder="汉族" autocomplete="off" class="layui-input"/>-->
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">担任职务</label>
                        <div class="layui-input-inline">
                            <input type="text" name="job" placeholder="无职务则填无" required="required" lay-verify="required" autocomplete="off" class="layui-input" th:value="*{job}"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <div class="layui-input-block">
                        <div class="layui-inline">
                            <label class="layui-form-label">品德素质(15分)</label>
                            <div class="layui-input-inline">
                                <input type="text" name="charact" autocomplete="off" class="layui-input layui-disabled" disabled="disabled" th:value="*{character}"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">学业素质(70分)</label>
                            <div class="layui-input-inline">
                                <input type="text" name="study" th:value="*{study}" autocomplete="off" class="layui-input layui-disabled" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">发展能力素质(15分)</label>
                            <div class="layui-input-inline">
                                <input type="text" name="ability" th:value="*{ability}" autocomplete="off" class="layui-input layui-disabled" disabled="disabled"/>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">总分</label>
                            <div class="layui-input-inline">
                                <input type="text" name="all" th:value="*{all}" autocomplete="off" class="layui-input layui-disabled" disabled="disabled"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">专业名次</label>
                        <div class="layui-input-inline">
                            <input type="text" name="rank" th:value="*{rank}" placeholder="专业名次" autocomplete="off" class="layui-input layui-disabled" disabled="disabled"/>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">申请理由</label>
                    <div class="layui-input-block">
                        <textarea name="reason" required="required" lay-verify="required|applyReason" placeholder="200字以内" class="layui-textarea" th:text="*{reason}"></textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">二级学工组意见</label>
                    <div class="layui-input-block">
                        <textarea name="opinion" lay-verify="applyReason" placeholder="100字以内" class="layui-textarea layui-disabled" disabled="disabled" th:text="*{opinion}"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="demo2">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script th:src="@{/js/plugins/jquery-3.1.1.min.js}"/>
<script th:src="@{/js/plugins/html5shiv.min.js}"/>
<script th:src="@{/plugins/layui/layui.js}"/>
<script th:src="@{/js/scholarship.js}"/>
<script type="text/javascript" th:inline="javascript">
    layui.use(['form'], function()
    {
        var form = layui.form;

        var nationArray = ["", "汉族","蒙古族","回族","藏族","维吾尔族","苗族","彝族","壮族","布依族","朝鲜族","满族","侗族","瑶族","白族","土家族",
            "哈尼族","哈萨克族","傣族","黎族","傈僳族","佤族","畲族","高山族","拉祜族","水族","东乡族","纳西族","景颇族","柯尔克孜族",
            "土族","达斡尔族","仫佬族","羌族","布朗族","撒拉族","毛南族","仡佬族","锡伯族","阿昌族","普米族","塔吉克族","怒族", "乌孜别克族",
            "俄罗斯族","鄂温克族","德昂族","保安族","裕固族","京族","塔塔尔族","独龙族","鄂伦春族","赫哲族","门巴族","珞巴族","基诺族"];


        /*<![CDATA[*/
        var myNation = /*[[${tripleastudentBean.nation}]]*/;


        var $nationSelect = $("#nation");
        for(var i = 0; i < nationArray.length; i++){
            if(myNation == nationArray[i])
            {
                $nationSelect.append(`<option value='${nationArray[i]}' selected>${nationArray[i]}</option>`);
            }
            else
            {
                $nationSelect.append(`<option value='${nationArray[i]}'>${nationArray[i]}</option>`);
            }
        }
        /*]]>*/
        form.render('select');
    })
</script>
</html>
