<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>管理员</title>
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            综合测评信息管理平台
        </div>
        <div class="layui-nav layui-layout-left" style="height: 60px;">
            <div class="admin-side-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="layui-icon">&#xe612;</i>
                    管理员XXX
                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a href="">修改密码</a>
                    </dd>
                    <dd>
                        <a href="/mLogout">退出</a>
                    </dd>
                </dl>
            </li>
        </div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="side">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">
                        <i class="fa fa-stop-circle"></i>
                        查看名单
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/m/admin/showNationalInspirationalScholarship">国家励志奖学金</a></dd>
                        <dd class="layui-this"><a href="/m/admin/showProvincialgovernmentscholarship">省政府奖学金</a></dd>
                        <dd><a href="/m/admin/showSchoolscholarship">校奖学金</a></dd>
                        <dd><a href="/m/admin/showTripleastudent">三好学生</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="fa fa-stop-circle"></i>
                        填写意见
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">国家励志奖学金</a></dd>
                        <dd><a href="">省政府奖学金</a></dd>
                        <dd><a href="">校奖学金</a></dd>
                        <dd><a href="">三好学生</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body fade-in-right">
        <div class="layui-fluid" style="padding: 15px;">
            <div class="layui-tab">
                <ul class="layui-tab-title">
                    <li class="layui-this">15级</li>
                    <li>16级</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <fieldset class="layui-elem-field">
                            <legend>省政府奖学金</legend>
                            <div class="layui-field-box">
                                <div class="layui-inline">
                                    <button class="layui-btn" id="batchDownload15">批量下载</button>
                                </div>

                            </div>
                        </fieldset>
                        <table class="layui-table" lay-data="{id: 'table15', height: 'full-340', even: 'true'}" height="full-325" lay-filter="table15">
                            <thead>
                            <tr>
                                <th lay-data="{checkbox:true, fixed: true}"></th>
                                <th lay-data="{field: 'major', width: 180, sort: 'true'}">专业</th>
                                <th lay-data="{field: 'majorClass', width: 200, sort: 'true'}">班级</th>
                                <th lay-data="{field: 'userId', width: 170, sort: 'true'}">学号</th>
                                <th lay-data="{field: 'username', width: 150}">名字</th>
                                <th lay-data="{field: 'sex', width: 100}">性别</th>
                                <th lay-data="{field: 'award', width: 300, sort: 'true'}">奖项</th>
                                <th lay-data="{width: 200, fixed: 'right', toolbar: '#toolbar'}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="person : ${provincialgovernmentscholarshipShowBean}" th:if="${person.major != '信息大类'}">
                                <td></td>
                                <td th:text="${person.major}"></td>
                                <td th:text="${person.major + person.class_id}"></td>
                                <td th:text="${person.user_id}"></td>
                                <td th:text="${person.username}"></td>
                                <td th:text="${person.sex}"></td>
                                <td>省政府奖学金</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="layui-tab-item">
                        <fieldset class="layui-elem-field">
                            <legend>省政府奖学金</legend>
                            <div class="layui-field-box">
                                <div class="layui-inline">
                                    <button class="layui-btn" id="batchDownload16">批量下载</button>
                                </div>

                            </div>
                        </fieldset>
                        <table class="layui-table" lay-data="{id: 'table16', height: 'full-340', even: 'true'}" height="full-325" lay-filter="table16">
                            <thead>
                            <tr>
                                <th lay-data="{checkbox:true, fixed: true}"></th>
                                <th lay-data="{field: 'major', width: 180, sort: 'true'}">专业</th>
                                <th lay-data="{field: 'majorClass', width: 200, sort: 'true'}">班级</th>
                                <th lay-data="{field: 'userId', width: 170, sort: 'true'}">学号</th>
                                <th lay-data="{field: 'username', width: 150}">名字</th>
                                <th lay-data="{field: 'sex', width: 100}">性别</th>
                                <th lay-data="{field: 'award', width: 300, sort: 'true'}">奖项</th>
                                <th lay-data="{width: 200, fixed: 'right', toolbar: '#toolbar'}"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="person : ${provincialgovernmentscholarshipShowBean}" th:if="${person.major == '信息大类'}">
                                <td></td>
                                <td th:text="${person.major}"></td>
                                <td th:text="${person.major + person.class_id}"></td>
                                <td th:text="${person.user_id}"></td>
                                <td th:text="${person.username}"></td>
                                <td th:text="${person.sex}"></td>
                                <td>省政府奖学金</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer">

    </div>
</div>
<template id="toolbar">
    <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="download">下载</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</template>
</body>
<script th:src="@{/js/plugins/jquery-3.1.1.min.js}"/>
<script th:src="@{/js/plugins/html5shiv.min.js}"/>
<script th:src="@{/plugins/layui/layui.js}"/>
<script th:src="@{/js/admin/adminCommon.js}"/>
<script th:src="@{/js/scholarshipAdmin.js}"/>
</html>
