.overview-div
{
	width: 100%;
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
	margin-bottom: 20px;
	float: left;
	text-align: center;
}

.overview-content
{
	padding: 8px;
	border-radius: 3px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
	line-height: normal;
}

.total
{
	font-size: 1.2em;
	font-weight: 200;
}

.total-num
{
	font-size: 3.0em;
}
