body{
	padding-top: 1px;
}

.layui-container{
	margin-top: 80px;
	margin-bottom: 120px;
	/*border: 2px solid darkgray;*/
	/*border-radius: 5%;*/
	/*-webkit-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);*/
	/*-moz-box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);*/
	/*box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);*/
}

.change-form{
	position: absolute;
	left: 50%;
	top: 15px;
	transform: translate(-50%);
}

.scholarship-header{
	position: fixed;
	width: 100%;
	height: 60px;
	background: #393D49;
	Z-index: 1000000;
}

.scholarship-header .scholarship-logo{
	position: absolute;
	width: 200px;
	height: 100%;
	text-align: center;
	line-height: 60px;
	/*color: #01AAED;*/
	color: #FFFFFF;
	font-size: 16px;
}

.scholarship-title{
	text-align: center;
	font-size: 22px;
	line-height: 50px;
	padding: 20px;
}

.scholarship-link{
	line-height: 22px;
	font-size: 18px;
}

.scholarship-type{
	position: fixed;
	top: 200px;
	left: 8%;
}

.add-line{
	font-size: 20px;
	color: #009688;
	cursor: pointer;
}

/**
	时间线
 */
.scholarship-timeline{
	padding-left: 5px;
}

.scholarship-timeline-item{
	position: relative;
	line-height: 40px;
	padding-bottom: 30px;
}

.scholarship-timeline-item:before{
	content: '';
	position: absolute;
	left: 10px;
	top: 0;
	Z-index: 0;
	width: 2px;
	height: 100%;
	background: #e2e2e2;
}

.scholarship-timeline-item:last-child:before{
	display: none;
}

.scholarship-timeline-axis{
	position: absolute;
	left: -10px;
	top: 0;
	Z-index: 10;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background: #fff;
	color: #01AAED;
	border-radius: 50%;
	text-align: center;
}

.scholarship-timeline-content{
	padding-left: 45px;
}

.scholarship-timeline-title{
	position: relative;
	font-size: 20px;
}
