
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>概览</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="../../static/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="../../static/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    th:nth-child(1) {
    vertical-align: middle;
    text-align: center;
    width: 9%;
	}
	tr th:nth-child(8) {
  	vertical-align: middle;
    text-align: center;
    width: 15%;
	}
	
	.btn-danger2 {
    color: #fff;
    background-color: #f750a3;
    border-color: #f750a3;
	}
	
	.btn-danger2:hover {
    color: #fff;
    background-color: #f4409a;
    border-color: #f4409a;
	}

	.btn-danger2:focus {
    color: #fff;
    background-color: #f3288d;
    border-color: #f3288d;
	}
	.btn-danger2:active {
    color: #fff;
    background-color: #f60b80;
    border-color: #f60b80;
	}

	

         /* .btn-danger {
            color: white;
            background-color: #008aa6;
            padding: 0px 1em;
            height: 22px;
            margin-left: 10px;
            border: 0px solid black;
            border-radius: 5px;
        }


        .btn-danger:hover {
            background-color: #ff0000;
        }


        /*active 要在后面 否则会被hover覆盖*/


        .btn-danger:focus {
            background-color: #00ff00;
        }


        .btn-danger:active {
            background-color: #000000;
        }*/


    th:nth-child(1) {
    vertical-align: middle;
    text-align: center;
    width: 8%;
	}
	tr th:nth-child(8) {
  	vertical-align: middle;
    text-align: center;
    width: 15%;
	}
	
	.btn-danger2 {
    color: #fff;
    background-color: #f750a3;
    border-color: #f750a3;
	}
	
	.btn-danger2:hover {
    color: #fff;
    background-color: #f4409a;
    border-color: #f4409a;
	}

	.btn-danger2:focus {
    color: #fff;
    background-color: #f3288d;
    border-color: #f3288d;
	}
	.btn-danger2:active {
    color: #fff;
    background-color: #f60b80;
    border-color: #f60b80;
	}

	

         /* .btn-danger {
            color: white;
            background-color: #008aa6;
            padding: 0px 1em;
            height: 22px;
            margin-left: 10px;
            border: 0px solid black;
            border-radius: 5px;
        }


        .btn-danger:hover {
            background-color: #ff0000;
        }


        /*active 要在后面 否则会被hover覆盖*/


        .btn-danger:focus {
            background-color: #00ff00;
        }


        .btn-danger:active {
            background-color: #000000;
        }*/




	th input{
	    vertical-align: middle;
	    display: inline-block;
	}
	td {
   	padding-top:25px;
    text-align: center;

	}


	th input{
	    vertical-align: middle;
	    display: inline-block;
	}
	td {
   	padding-top:25px;
    text-align: center;

	}

	
    </style>
</head>

<body class="main-body">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand" >奖学金测评管理员界面1231</div>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                
              
              
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                        <font style="margin-left: 15px;margin-right: 30px;">fzj</font>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                       
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li  onclick="loadPage('index.html')"><!-- 'student_tables.html'onclick="loadPage()" -->
                            <a href="#" id="test"><i class="fa fa-dashboard fa-fw"></i> 概览</a>
                           <!--   -->
                        </li>
                       
                        <li>
                            <a href="#">
                            	<i class="fa fa-table fa-fw"></i>  
                            查看名单
                            	<span class="fa arrow"></span>
                            </a>
                            <ul class="nav nav-second-level">
                                <li onclick=""><a><span class="text ">国家励志奖学金</span></a>
                                </li>
                                 <li onclick=""><a><span class="text">国家助学金</span></a>
                                </li>
                                 <li onclick=""><a><span class="text">省政府奖学金</span></a>
                                </li>
                                 <li onclick=""><a><span class="text">校奖学金</span></a>
                                </li>
                                <li onclick=""><a><span class="text">三好学生</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="forms.html"><i class="fa fa-edit fa-fw"></i> 填写意见<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                               
                               <li onclick=""><a><span class="text ">奖学金意见填写</span></a>
                                </li>
                                 <li onclick=""><a><span class="text">国家助学金审批意见</span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> 重置学生密码</a>
                            
                            <!-- /.nav-second-level -->
                        </li>
                       
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

          <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">概览</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
             <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>国家励志奖学金</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>国家助学金</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>省政府奖学金</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>校奖学金</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">查看详情</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge" style="color:white;">26</div>
                                    <div style="color:white;">三好学生</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left" style="color: #31708f">查看详情</span>
                                <span class="pull-right" style="color: #31708f"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6 col-lg-offset-3">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>奖学金意见填写</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left" style="color: #8a6d3b">查看详情</span>
                                <span class="pull-right" style="color: #8a6d3b"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="col-lg-3 col-md-6">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                   
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>国家助学金审批意见</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left" style="color: #a94442">查看详情</span>
                                <span class="pull-right" style="color: #a94442"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           国家励志奖学金
                        </div>
                        <!-- /.panel-heading -->
                       
                 
                    
                           <!--  <h5 style="margin-left: 10px;">院（系）意见:</h5> -->
                       
                        <div class="panel-body">

                           <!--  <textarea class="form-control22" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 80%; margin-left:10%;  "></textarea>
                             <button type="button" class="btn btn-default radius" style="margin: 0 auto;">重置</button>	 -->
                              <div class="panel panel-info" style="width:80%;margin: 0 auto;">
		                        <div class="panel-heading" style="background-color:white;">
		                            <h3 class="panel-title" >院（系）意见</h3>
		                        </div>
		                        <div class="panel-body">

		                            <textarea class="form-control22" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 80%; margin-left:10%;  "></textarea> 
		                            <button type="button" class="btn btn-default radius" style="margin-left: 45%;">提交</button>

		                        </div>
		                    </div>

		                   
                        </div>
                    

                   

               
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            校奖学金
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="panel panel-info" style="width:80%;margin: 0 auto;">
		                        <div class="panel-heading" style="background-color:white;">
		                            <h3 class="panel-title" >二级学工组意见</h3>
		                        </div>
		                        <div class="panel-body">

		                            <textarea class="form-control22" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 80%; margin-left:10%;  "></textarea> 
		                            <button type="button" class="btn btn-default radius" style="margin-left: 45%;">提交</button>

		                        </div>
		                    </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                 <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           省政府奖学金
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="panel panel-info" style="width:80%;margin: 0 auto;">
		                        <div class="panel-heading" style="background-color:white;">
		                            <h3 class="panel-title" >推荐理由</h3>
		                        </div>
		                        <div class="panel-body">

		                            <textarea class="form-control22" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 80%; margin-left:10%;  "></textarea> 
		                            <button type="button" class="btn btn-default radius" style="margin-left: 45%;">提交</button>

		                        </div>
		                    </div>
		                    
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                 <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           省政府奖学金
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="panel panel-info" style="width:80%;margin: 0 auto;">
		                        <div class="panel-heading" style="background-color:white;">
		                            <h3 class="panel-title" >院（系）意见</h3>
		                        </div>
		                        <div class="panel-body">

		                            <textarea class="form-control22" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 80%; margin-left:10%;  "></textarea> 
		                            <button type="button" class="btn btn-default radius" style="margin-left: 45%;">提交</button>

		                        </div>
		                    </div>
		                    
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           三好学生
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="panel panel-info" style="width:80%;margin: 0 auto;">
		                        <div class="panel-heading" style="background-color:white;">
		                            <h3 class="panel-title" >二级学工组意见</h3>
		                        </div>
		                        <div class="panel-body">

		                            <textarea class="form-control22" rows="12 " placeholder="Textarea" style="y-overflow:auto; width: 80%; margin-left:10%;  "></textarea> 
		                            <button type="button" class="btn btn-default radius" style="margin-left: 45%;">提交</button>

		                        </div>
		                    </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->

               
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->


<!--转圈圈model-->
<div class="modal fade" id="circleModal" tabindex="-1" role="dialog" aria-labelledby="circleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-circle">
        <div class="modal-content" style="height: 80px;">
        	<div style="line-height: 80px;margin-left: 35%;" >

            <img src="../../static/img/loadingImg.gif" width="40px;" height="40px;">
            <label class="modal-body-title">&nbsp;&nbsp;&nbsp;数据加载中......</label>

        </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>





    </div>
    <!-- /#wrapper -->





    <script >
 	
  function loadPage(url) {
       
       
    if (!url.match("/add")) {
        //消除连续两次模态框显示导致的17px叠加偏移
        $('.main-body').css('padding-right', '0');
        $('#circleModal').modal('show');
    }
    $('html,body').animate({scrollTop: 0}, 1);
    //加时间戳，兼容ie9
    var ts = "?ts=" + new Date().getTime();
    if (url.indexOf("?") != -1) {
        url = url.replace('?', ts + "&");
    }
    else {
        url = url + ts;
    }
    window.location.href=url;
    }


       
     
           
/*$('#test').click( function() {*/
	
     /*window.location.href="url";*/
/*});*/

 
    </script> 
    <!-- jQuery -->
    <script src="../../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="../../static/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="../../static/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="../../static/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        var oTable=$('#dataTables-example').DataTable({
          /*  responsive: true*/
             "columnDefs": [{ "targets": [0, 7], "orderable": false }]
        });


        var allPages = oTable.cells( ).nodes( );

    $('#checkAll').click(function () {
        if ($(this).hasClass('allChecked')) {
            $(allPages).find('input[name="subBox"]').prop('checked', false);
             $("#checkedNumber15").text( $(allPages).find('input[name="subBox"]:checked').length);
        } else {
            $(allPages).find('input[name="subBox"]').prop('checked', true);
             $("#checkedNumber15").text( $(allPages).find('input[name="subBox"]:checked').length);
        }
        $(this).toggleClass('allChecked');
    });

   


/*  $("#checkAll2").click(function() {
  			 if ($(this).hasClass('checked')) {
            $('input[name="subBox"]').prop("checked",false);
            $("#checkedNumber15").text( $(allPages).find('input[name="subBox"]:checked').length);}
           else {
            $('input[name="subBox"]').prop("checked",true);
            $("#checkedNumber15").text( $(allPages).find('input[name="subBox"]:checked').length);}
            $(this).toggleClass('checked');
        });*/
        var $subBox = $(allPages).find('input[name="subBox"]');
        $subBox.click(function(){
          /*  $("#checkAll2").prop("checked",$subBox.length == $("input[name='subBox']:checked").length ? true : false);*/
            $("#checkedNumber15").text($(allPages).find('input[name="subBox"]:checked').length);
          
        });



        


  

    function changeCheckedNumber(grade)
    {
        $("#checkedNumber" + grade).text($("input[name='subBox']:checked").length);
    }

    table.on('checkbox(table15)', function(obj){
        changeCheckedNumber(15);
    });

    table.on('checkbox(table16)', function(obj){
        changeCheckedNumber(16);
    });

        /* $('#txtTitle').keyup(function() {
        var txttile = $('#txtTitle').val();  
       document.getElementById("txtContent").innerHTML="1";

        if (txttile == "") {
            document.getElementById("txtContent").innerHTML="1";
            return false;
        }
        else if (txttile.length > 3) {
             document.getElementById("txtContent").innerHTML="2";
            return false;

        }
    });*/


   
       

    });
   
    </script>
    

</body>

</html>
