<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8"/>

  <title>欢迎使用综测系统</title>

  <link rel="stylesheet" href="css/font-awesome.min.css"/>
  <link rel='stylesheet prefetch' href='css/bootstrap.min.css'/>
  <link rel='stylesheet' href='css/toastr.min.css'/> 
  <link rel="stylesheet" href="css/login.css"/>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/toastr.min.js"></script>
  <script src="js/login.js"></script>
</head>
<body background="img/login_background.jpg" style="background-size: 100% 100%; background-attachment: fixed;">
  <div class="container">
    <div class="login-form">
      <form method="post" role="form" id="form_login">
        <div class="form-group">
           <p class="title">欢迎使用综合测评系统</p>
        </div>
        <div class="form-group">
          <ul class="nav nav-tabs">
            <li role="presentation" id="student"  style="border-bottom: 2px solid #7AC5CD;">
              <a class="student-a">学生登录</a>
            </li>
            <li role="presentation" id="manager" >
              <a class="teacher-a">管理员登录</a>
            </li>
          </ul>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user"></i>
            </div>
            <input type="text" class="form-control" name="account" id="userID" placeholder="学号/卡号" autocomplete="off" />
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-key"></i>
            </div>
            <input type="password" class="form-control" name="password" id="password" placeholder="统一身份验证" autocomplete="off" />
          </div>
        </div> 
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block btn-login" id="s-load" onclick="javascript:this.form.action='/userLogin';">
            <i class="fa fa-sign-in"></i>
            登录
          </button>
           <button type="submit" class="btn btn-primary btn-block btn-login" id="m-load" style="display: none;"  onclick="javascript:this.form.action='/managerLogin';">
            <i class="fa fa-sign-in"></i>
            登录
          </button>
        </div>        
      </form>
   </div>
  </div>
</body>

</html>