<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{../css/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{../plugins/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{../plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{../css/common.css}"/>
</head>
<body>
<p>1</p>
<!--<p th:text="${session.userssBean.userId}"></p>-->
</body>
<script th:src="@{../js/plugins/jquery-3.1.1.min.js}"/>
<script th:src="@{../js/plugins/echarts.min.js}"/>
<script th:src="@{../js/plugins/html5shiv.min.js}"/>
<script th:src="@{../plugins/bootstrap/js/bootstrap.min.js}"/>
<script th:src="@{../plugins/layui/layui.js}"/>
<script th:src="@{../js/common.js}"/>
</html>
