<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>填写 - 国家助学金</title>
    <link rel="stylesheet" th:href="@{/css/plugins/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/adminCommon.css}"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            信息与电子工程学院 奖学金申报系统
        </div>
        <div class="layui-nav layui-layout-left" style="height: 60px;">
            <div class="admin-side-toggle">
                <i class="fa fa-bars"></i>
            </div>
        </div>
        <div class="layui-nav layui-layout-right">
            <ul class="layui-nav" lay-filter="user">
                <li class="layui-nav-item">
                    <a href="javascript:;" th:text="${session.managerBean.managerId}"></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:void(0);">修改密码</a>
                        </dd>
                        <dd>
                            <a href="/mLogout">退出</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="side">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="fa fa-stop-circle"></i>
                        查看名单
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/m/admin/showNationalInspirationalScholarship">国家励志奖学金</a></dd>
                        <dd><a href="/m/admin/showNationalGrant">国家助学金</a></dd>
                        <dd><a href="/m/admin/showProvincialgovernmentscholarship">省政府奖学金</a></dd>
                        <dd><a href="/m/admin/showSchoolscholarship">校奖学金</a></dd>
                        <dd><a href="/m/admin/showTripleastudent">三好学生</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">
                        <i class="fa fa-stop-circle"></i>
                        填写意见
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/m/admin/opinion/nationalinspirationalscholarship">国家励志奖学金</a></dd>
                        <dd class="layui-this"><a href="/m/admin/opinion/nationalGrant">国家助学金</a></dd>
                        <dd><a href="/m/admin/opinion/provincialgovernmentscholarship">省政府奖学金</a></dd>
                        <dd><a href="/m/admin/opinion/schoolscholarship">校奖学金</a></dd>
                        <dd><a href="/m/admin/opinion/tripleastudent">三好学生</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="/m/admin/resetPassword">
                        <i class="fa fa-stop-circle"></i>
                        重置学生密码
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body fade-in-right">
        <div style="padding: 15px;">
            <div class="layui-tab" lay-filter="content">
                <ul class="layui-tab-title">
                    <li class="layui-this">15级</li>
                    <li>16级</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <fieldset class="layui-elem-field">
                            <legend>国家助学金</legend>
                            <div class="layui-field-box">
                                <div class="layui-form">
                                    <div class="layui-inline">
                                        <select name="opinion">
                                            <option value=""></option>
                                            <option value="同意一档">同意一档</option>
                                            <option value="同意二档">同意二档</option>
                                        </select>
                                    </div>
                                    <div class="layui-inline">
                                        <button class="layui-btn" id="changeNationalGrantOpinion15">修改</button>
                                    </div>
                                    <div class="layui-inline checked-number">
                                        已选 <span id="checkedNumber15">0</span> 人
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <table class="layui-table" lay-data="{id: 'table15', height: 'full-340', even: 'true', limit:1000}" lay-filter="table15">
                            <thead>
                            <tr>
                                <th lay-data="{checkbox:true, fixed: true}"></th>
                                <th lay-data="{field: 'major', width: 150, sort: 'true'}">专业</th>
                                <th lay-data="{field: 'majorClass', width: 180, sort: 'true'}">班级</th>
                                <th lay-data="{field: 'user_id', width: 130, sort: 'true'}">学号</th>
                                <th lay-data="{field: 'username', width: 100}">名字</th>
                                <th lay-data="{field: 'sex', width: 60}">性别</th>
                                <th lay-data="{field: 'award', width: 200, sort: 'true'}">院（系）意见</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="person : ${nationalGrantOpinionBean}" th:if="${person.major != '信息大类'}">
                                <td></td>
                                <td th:text="${person.major}"></td>
                                <td th:text="${person.major + person.class_id}"></td>
                                <td th:text="${person.user_id}"></td>
                                <td th:text="${person.username}"></td>
                                <td th:text="${person.sex}"></td>
                                <td th:text="${person.opinion}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="layui-tab-item">
                        <fieldset class="layui-elem-field">
                            <legend>国家助学金</legend>
                            <div class="layui-field-box">
                                <div class="layui-form">
                                    <div class="layui-inline">
                                        <select name="opinion">
                                            <option value=""></option>
                                            <option value="同意一档">同意一档</option>
                                            <option value="同意二档">同意二档</option>
                                        </select>
                                    </div>
                                    <div class="layui-inline">
                                        <button class="layui-btn" id="changeNationalGrantOpinion16">修改</button>
                                    </div>
                                    <div class="layui-inline checked-number">
                                        已选 <span id="checkedNumber16">0</span> 人
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <table lay-filter="table16">
                            <thead>
                            <tr>
                                <th lay-data="{checkbox:true, fixed: true}"></th>
                                <th lay-data="{field: 'major', width: 150, sort: 'true'}">专业</th>
                                <th lay-data="{field: 'majorClass', width: 180, sort: 'true'}">班级</th>
                                <th lay-data="{field: 'user_id', width: 130, sort: 'true'}">学号</th>
                                <th lay-data="{field: 'username', width: 100}">名字</th>
                                <th lay-data="{field: 'sex', width: 60}">性别</th>
                                <th lay-data="{field: 'award', width: 200, sort: 'true'}">院（系）意见</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="person : ${nationalGrantOpinionBean}" th:if="${person.major == '信息大类'}">
                                <td></td>
                                <td th:text="${person.major}"></td>
                                <td th:text="${person.major + person.class_id}"></td>
                                <td th:text="${person.user_id}"></td>
                                <td th:text="${person.username}"></td>
                                <td th:text="${person.sex}"></td>
                                <td th:text="${person.opinion}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer">

    </div>
</div>
</body>
<script th:src="@{/js/plugins/jquery-3.1.1.min.js}"/>
<script th:src="@{/js/plugins/html5shiv.min.js}"/>
<script th:src="@{/plugins/layui/layui.js}"/>
<script th:src="@{/js/admin/adminCommon.js}"/>
<script th:src="@{/js/scholarshipAdmin.js}"/>
</html>
