<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.obsidian.ceimp.dao.BasicScholarshipMapper">
    <select id="exist" parameterType="map" resultType="java.lang.Boolean" statementType="STATEMENT">
        select exists(select true from ${subName} where ${subName}.user_id = ${userId} and ${subName}.year_scope = ${yearScope}) exist
    </select>

    <select id="getNgBeanList" parameterType="map" resultType="org.obsidian.ceimp.bean.BasicScholarshipBean">
        select #{yearScope} timeStart,#{yearScope}+1 timeEnd,school.name school,major.name major,
        class_num.num classNum,user_basic.username username,user_basic.sex sex,user_basic.birth birth,
        user_basic.account account,user_basic.nation nation,user_basic.entrance entrance,user_basic.identity identity,
        user_info.political political,user_info.phone phone,ng.resident resident,ng.income_source incomeSource,
        ng.month_income monthIncome,ng.family_sum familySum,ng.address address,ng.postal_code postalCode,
        ng.situation situation,ng.f_name1 fName1,ng.age1 age1,ng.relation1 relation1,ng.work_place1 workPlace1,
		ng.f_name2 fName2,ng.age2 age2,ng.relation2 relation2,ng.work_place2 workPlace2,ng.f_name3 fName3,ng.age3 age3,
        ng.relation3 relation3,ng.work_place3 workPlace3,ng.f_name4 fName4,ng.age4 age4,ng.relation4 relation4,
        ng.work_place4 workPlace4,ng.f_name5 fName5,ng.age5 age5,ng.relation5 relation5,ng.work_place5 workPlace5,
		ng.apply_reason applyReason,ng.opinion opinion from school,major,class_num,user_basic,user_info,ng
		where school.school_id = major.school_id and major.major_id = class_num.major_id and
		class_num.class_num_id = user_info.class_num_id and user_info.user_id = user_basic.user_id and
		user_info.year_scope = ng.year_scope and ng.user_id = user_basic.user_id and ng.year_scope = #{yearScope}
        and user_basic.account in
        <foreach collection="list" index="index" item="bean" open="(" separator="," close=")">
            #{bean.account}
        </foreach>
        order by user_basic.account;
    </select>
    <select id="getNisBeanList" parameterType="map" resultType="org.obsidian.ceimp.bean.BasicScholarshipBean">
        select #{yearScope}-1 timeStart,#{yearScope} timeEnd,school.name school,major.name major,
        class_num.num classNum,user_basic.username username,user_basic.sex sex,user_basic.birth birth,
        user_basic.account account,user_basic.nation nation,user_basic.entrance entrance,user_basic.identity identity,
        user_info.political political,user_info.phone phone,user_info.gp_rank gpRank,user_info.ce_rank ceRank,
        user_info.major_sum majorSum,user_info.pass_sum passSum,user_info.class_sum classSum,nis.date1 date1,
        nis.award1 award1,nis.unit1 unit1,nis.date2 date2,nis.award2 award2,nis.unit2 unit2,nis.date3 date3,
        nis.award3 award3,nis.unit3 unit3,nis.date4 date4,nis.award4 award4,nis.unit4 unit4,nis.resident resident,
        nis.income_source incomeSource,nis.month_income monthIncome,nis.family_sum familySum,nis.address address,
        nis.postal_code postalCode,nis.situation situation,nis.apply_reason applyReason
        from school,major,class_num,user_basic,user_info,nis
        where school.school_id = major.school_id and major.major_id = class_num.major_id and
        class_num.class_num_id = user_info.class_num_id and user_info.user_id = user_basic.user_id and
        user_info.year_scope = nis.year_scope and nis.user_id = user_basic.user_id and
        nis.year_scope = #{yearScope} and user_basic.account in
        <foreach collection="list" index="index" item="bean" open="(" separator="," close=")">
            #{bean.account}
        </foreach>
        order by user_basic.account;
    </select>
    <select id="getPgsBeanList" parameterType="map" resultType="org.obsidian.ceimp.bean.BasicScholarshipBean">
        select #{yearScope}-1 timeStart,#{yearScope} timeEnd,school.name school,major.name major,
        class_num.num classNum,user_basic.username username,user_basic.sex sex,user_basic.birth birth,
        user_basic.account account,user_basic.nation nation,user_basic.entrance entrance,user_basic.identity identity,
        user_info.political political,user_info.phone phone,user_info.gp_rank gpRank,user_info.ce_rank ceRank,
        user_info.major_sum majorSum,user_info.pass_sum passSum,user_info.class_sum classSum,pgs.date1 date1,
        pgs.award1 award1,pgs.unit1 unit1,pgs.date2 date2,pgs.award2 award2,pgs.unit2 unit2,pgs.date3 date3,
        pgs.award3 award3,pgs.unit3 unit3,pgs.date4 date4,pgs.award4 award4,pgs.unit4 unit4,
        pgs.apply_reason applyReason
        from school,major,class_num,user_basic,user_info,pgs
        where school.school_id = major.school_id and major.major_id = class_num.major_id and
        class_num.class_num_id = user_info.class_num_id and user_info.user_id = user_basic.user_id and
        user_info.year_scope = pgs.year_scope and pgs.user_id = user_basic.user_id and
        pgs.year_scope = #{yearScope} and user_basic.account in
        <foreach collection="list" index="index" item="bean" open="(" separator="," close=")">
            #{bean.account}
        </foreach>
        order by user_basic.account;
    </select>
    <select id="getSsBeanList" parameterType="map" resultType="org.obsidian.ceimp.bean.BasicScholarshipBean">
        select #{yearScope}-1 timeStart,#{yearScope} timeEnd, school.name school,major.name major,
        class_num.num classNum,user_basic.username username,user_basic.sex sex,user_basic.account account,
        user_basic.nation nation,user_info.political political,user_info.job job,user_info.charact charact,
        user_info.study study,user_info.ability ability,user_info.total total,user_info.ce_rank ceRank,
        user_info.major_sum majorSum,scholarship.name rank,ss.apply_reason applyReanson
        from school,major,class_num,user_basic,user_info,ss,scholarship,award
        where scholarship.sub_name = "ss" and scholarship.scholarship_id = award.scholarship_id and
        award.user_id = user_basic.user_id and award.year_scope = ss.year_scope and
        school.school_id = major.school_id and major.major_id = class_num.major_id and
        class_num.class_num_id = user_info.class_num_id and user_info.user_id = user_basic.user_id and
        user_info.year_scope = ss.year_scope and ss.user_id = user_basic.user_id and
        ss.year_scope = #{yearScope} and user_basic.account in
        <foreach collection="list" index="index" item="bean" open="(" separator="," close=")">
            #{bean.account}
        </foreach>
        order by user_basic.account;
    </select>
    <select id="getTasBeanList" parameterType="map" resultType="org.obsidian.ceimp.bean.BasicScholarshipBean">
        select #{yearScope}-1 timeStart,#{yearScope} timeEnd,school.name school,major.name major,
        class_num.num classNum,user_basic.username username,user_basic.sex sex,user_basic.account account,
        user_basic.nation nation,user_info.political political,user_info.job job,user_info.charact charact,
        user_info.study study,user_info.ability ability,user_info.total total,user_info.ce_rank ceRank,
        user_info.major_sum majorSum,tas.apply_reason applyReanson
        from school,major,class_num,user_basic,user_info,tas
        where school.school_id = major.school_id and major.major_id = class_num.major_id and
        class_num.class_num_id = user_info.class_num_id and user_info.user_id = user_basic.user_id and
        user_info.year_scope = tas.year_scope and tas.user_id = user_basic.user_id and
        tas.year_scope = #{yearScope} and user_basic.account in
        <foreach collection="list" index="index" item="bean" open="(" separator="," close=")">
            #{bean.account}
        </foreach>
        order by user_basic.account;
    </select>


</mapper>