<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.obsidian.ceimp.dao.ClassNumMapper">
  <resultMap id="BaseResultMap" type="org.obsidian.ceimp.entity.ClassNum">
    <id column="class_num_id" jdbcType="BIGINT" property="classNumId" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="major_id" jdbcType="BIGINT" property="majorId" />
  </resultMap>
  <select id="getInsertClassNumBeanList" resultType="org.obsidian.ceimp.bean.InsertClassNumBean">
    select school.name school,major.name major,major.grade grade,class_num.num classNum from school,major,class_num
    where school.school_id = major.school_id and major.major_id = class_num.major_id;
  </select>
  <insert id="insertClassNumList" parameterType="java.util.List">
    insert into class_num(num,major_id)
    <foreach collection ="list" item="bean" index= "index" separator ="union">
      select #{bean.classNum} num,major.major_id major_id from school,major
      where school.name = #{bean.school} and school.school_id = major.school_id
      and major.name = #{bean.major} and major.grade = #{bean.grade}
    </foreach>;
  </insert>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    class_num_id, num, major_id
  </sql>
  <select id="selectByExample" parameterType="org.obsidian.ceimp.entity.ClassNumExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from class_num
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from class_num
    where class_num_id = #{classNumId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from class_num
    where class_num_id = #{classNumId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.obsidian.ceimp.entity.ClassNumExample">
    delete from class_num
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.obsidian.ceimp.entity.ClassNum">
    insert into class_num (class_num_id, num, major_id
      )
    values (#{classNumId,jdbcType=BIGINT}, #{num,jdbcType=VARCHAR}, #{majorId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.obsidian.ceimp.entity.ClassNum">
    insert into class_num
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classNumId != null">
        class_num_id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="majorId != null">
        major_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classNumId != null">
        #{classNumId,jdbcType=BIGINT},
      </if>
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        #{majorId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.obsidian.ceimp.entity.ClassNumExample" resultType="java.lang.Long">
    select count(*) from class_num
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update class_num
    <set>
      <if test="record.classNumId != null">
        class_num_id = #{record.classNumId,jdbcType=BIGINT},
      </if>
      <if test="record.num != null">
        num = #{record.num,jdbcType=VARCHAR},
      </if>
      <if test="record.majorId != null">
        major_id = #{record.majorId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update class_num
    set class_num_id = #{record.classNumId,jdbcType=BIGINT},
      num = #{record.num,jdbcType=VARCHAR},
      major_id = #{record.majorId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.obsidian.ceimp.entity.ClassNum">
    update class_num
    <set>
      <if test="num != null">
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="majorId != null">
        major_id = #{majorId,jdbcType=BIGINT},
      </if>
    </set>
    where class_num_id = #{classNumId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.obsidian.ceimp.entity.ClassNum">
    update class_num
    set num = #{num,jdbcType=VARCHAR},
      major_id = #{majorId,jdbcType=BIGINT}
    where class_num_id = #{classNumId,jdbcType=BIGINT}
  </update>
</mapper>