<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.obsidian.ceimp.dao.ProvincialgovernmentscholarshipMapper">
  <resultMap id="BaseResultMap" type="org.obsidian.ceimp.entity.Provincialgovernmentscholarship">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="date1" jdbcType="VARCHAR" property="date1" />
    <result column="award1" jdbcType="VARCHAR" property="award1" />
    <result column="unit1" jdbcType="VARCHAR" property="unit1" />
    <result column="date2" jdbcType="VARCHAR" property="date2" />
    <result column="award2" jdbcType="VARCHAR" property="award2" />
    <result column="unit2" jdbcType="VARCHAR" property="unit2" />
    <result column="date3" jdbcType="VARCHAR" property="date3" />
    <result column="award3" jdbcType="VARCHAR" property="award3" />
    <result column="unit3" jdbcType="VARCHAR" property="unit3" />
    <result column="date4" jdbcType="VARCHAR" property="date4" />
    <result column="award4" jdbcType="VARCHAR" property="award4" />
    <result column="unit4" jdbcType="VARCHAR" property="unit4" />
    <result column="applyReason" jdbcType="VARCHAR" property="applyreason" />
    <result column="recommendReason" jdbcType="VARCHAR" property="recommendreason" />
    <result column="opinion" jdbcType="VARCHAR" property="opinion" />
  </resultMap>
  <select id="selectAllProvincialgovernmentscholarship" resultType="org.obsidian.ceimp.bean.ProvincialgovernmentscholarshipShowBean">
    select provincialgovernmentscholarship.id,userss.major,userss.class_id,userss.user_id,userss.username,userss.sex
     from userss,provincialgovernmentscholarship where userss.user_id = provincialgovernmentscholarship.userId;
  </select>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userId, date1, award1, unit1, date2, award2, unit2, date3, award3, unit3, date4, 
    award4, unit4, applyReason, recommendReason, opinion
  </sql>
  <select id="selectByExample" parameterType="org.obsidian.ceimp.entity.ProvincialgovernmentscholarshipExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from provincialgovernmentscholarship
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.obsidian.ceimp.entity.ProvincialgovernmentscholarshipExample">
    delete from provincialgovernmentscholarship
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.obsidian.ceimp.entity.Provincialgovernmentscholarship">
    insert into provincialgovernmentscholarship (id, userId, date1, 
      award1, unit1, date2, 
      award2, unit2, date3, 
      award3, unit3, date4, 
      award4, unit4, applyReason, 
      recommendReason, opinion)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{date1,jdbcType=VARCHAR}, 
      #{award1,jdbcType=VARCHAR}, #{unit1,jdbcType=VARCHAR}, #{date2,jdbcType=VARCHAR}, 
      #{award2,jdbcType=VARCHAR}, #{unit2,jdbcType=VARCHAR}, #{date3,jdbcType=VARCHAR}, 
      #{award3,jdbcType=VARCHAR}, #{unit3,jdbcType=VARCHAR}, #{date4,jdbcType=VARCHAR}, 
      #{award4,jdbcType=VARCHAR}, #{unit4,jdbcType=VARCHAR}, #{applyreason,jdbcType=VARCHAR}, 
      #{recommendreason,jdbcType=VARCHAR}, #{opinion,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.obsidian.ceimp.entity.Provincialgovernmentscholarship">
    insert into provincialgovernmentscholarship
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="date1 != null">
        date1,
      </if>
      <if test="award1 != null">
        award1,
      </if>
      <if test="unit1 != null">
        unit1,
      </if>
      <if test="date2 != null">
        date2,
      </if>
      <if test="award2 != null">
        award2,
      </if>
      <if test="unit2 != null">
        unit2,
      </if>
      <if test="date3 != null">
        date3,
      </if>
      <if test="award3 != null">
        award3,
      </if>
      <if test="unit3 != null">
        unit3,
      </if>
      <if test="date4 != null">
        date4,
      </if>
      <if test="award4 != null">
        award4,
      </if>
      <if test="unit4 != null">
        unit4,
      </if>
      <if test="applyreason != null">
        applyReason,
      </if>
      <if test="recommendreason != null">
        recommendReason,
      </if>
      <if test="opinion != null">
        opinion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="date1 != null">
        #{date1,jdbcType=VARCHAR},
      </if>
      <if test="award1 != null">
        #{award1,jdbcType=VARCHAR},
      </if>
      <if test="unit1 != null">
        #{unit1,jdbcType=VARCHAR},
      </if>
      <if test="date2 != null">
        #{date2,jdbcType=VARCHAR},
      </if>
      <if test="award2 != null">
        #{award2,jdbcType=VARCHAR},
      </if>
      <if test="unit2 != null">
        #{unit2,jdbcType=VARCHAR},
      </if>
      <if test="date3 != null">
        #{date3,jdbcType=VARCHAR},
      </if>
      <if test="award3 != null">
        #{award3,jdbcType=VARCHAR},
      </if>
      <if test="unit3 != null">
        #{unit3,jdbcType=VARCHAR},
      </if>
      <if test="date4 != null">
        #{date4,jdbcType=VARCHAR},
      </if>
      <if test="award4 != null">
        #{award4,jdbcType=VARCHAR},
      </if>
      <if test="unit4 != null">
        #{unit4,jdbcType=VARCHAR},
      </if>
      <if test="applyreason != null">
        #{applyreason,jdbcType=VARCHAR},
      </if>
      <if test="recommendreason != null">
        #{recommendreason,jdbcType=VARCHAR},
      </if>
      <if test="opinion != null">
        #{opinion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.obsidian.ceimp.entity.ProvincialgovernmentscholarshipExample" resultType="java.lang.Long">
    select count(*) from provincialgovernmentscholarship
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update provincialgovernmentscholarship
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.date1 != null">
        date1 = #{record.date1,jdbcType=VARCHAR},
      </if>
      <if test="record.award1 != null">
        award1 = #{record.award1,jdbcType=VARCHAR},
      </if>
      <if test="record.unit1 != null">
        unit1 = #{record.unit1,jdbcType=VARCHAR},
      </if>
      <if test="record.date2 != null">
        date2 = #{record.date2,jdbcType=VARCHAR},
      </if>
      <if test="record.award2 != null">
        award2 = #{record.award2,jdbcType=VARCHAR},
      </if>
      <if test="record.unit2 != null">
        unit2 = #{record.unit2,jdbcType=VARCHAR},
      </if>
      <if test="record.date3 != null">
        date3 = #{record.date3,jdbcType=VARCHAR},
      </if>
      <if test="record.award3 != null">
        award3 = #{record.award3,jdbcType=VARCHAR},
      </if>
      <if test="record.unit3 != null">
        unit3 = #{record.unit3,jdbcType=VARCHAR},
      </if>
      <if test="record.date4 != null">
        date4 = #{record.date4,jdbcType=VARCHAR},
      </if>
      <if test="record.award4 != null">
        award4 = #{record.award4,jdbcType=VARCHAR},
      </if>
      <if test="record.unit4 != null">
        unit4 = #{record.unit4,jdbcType=VARCHAR},
      </if>
      <if test="record.applyreason != null">
        applyReason = #{record.applyreason,jdbcType=VARCHAR},
      </if>
      <if test="record.recommendreason != null">
        recommendReason = #{record.recommendreason,jdbcType=VARCHAR},
      </if>
      <if test="record.opinion != null">
        opinion = #{record.opinion,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update provincialgovernmentscholarship
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=VARCHAR},
      date1 = #{record.date1,jdbcType=VARCHAR},
      award1 = #{record.award1,jdbcType=VARCHAR},
      unit1 = #{record.unit1,jdbcType=VARCHAR},
      date2 = #{record.date2,jdbcType=VARCHAR},
      award2 = #{record.award2,jdbcType=VARCHAR},
      unit2 = #{record.unit2,jdbcType=VARCHAR},
      date3 = #{record.date3,jdbcType=VARCHAR},
      award3 = #{record.award3,jdbcType=VARCHAR},
      unit3 = #{record.unit3,jdbcType=VARCHAR},
      date4 = #{record.date4,jdbcType=VARCHAR},
      award4 = #{record.award4,jdbcType=VARCHAR},
      unit4 = #{record.unit4,jdbcType=VARCHAR},
      applyReason = #{record.applyreason,jdbcType=VARCHAR},
      recommendReason = #{record.recommendreason,jdbcType=VARCHAR},
      opinion = #{record.opinion,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>