<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.obsidian.ceimp.dao.ReviewTimeMapper">
  <resultMap id="BaseResultMap" type="org.obsidian.ceimp.entity.ReviewTime">
    <result column="review_time_id" jdbcType="INTEGER" property="reviewTimeId" />
    <result column="review_start" jdbcType="BIGINT" property="reviewStart" />
    <result column="review_end" jdbcType="BIGINT" property="reviewEnd" />
    <result column="review_type_id" jdbcType="INTEGER" property="reviewTypeId" />
    <result column="year_scope" jdbcType="INTEGER" property="yearScope" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    review_time_id, review_start, review_end, review_type_id, year_scope, create_time
  </sql>
  <select id="selectByExample" parameterType="org.obsidian.ceimp.entity.ReviewTimeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from review_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.obsidian.ceimp.entity.ReviewTimeExample">
    delete from review_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.obsidian.ceimp.entity.ReviewTime">
    insert into review_time (review_time_id, review_start, review_end, 
      review_type_id, year_scope, create_time
      )
    values (#{reviewTimeId,jdbcType=INTEGER}, #{reviewStart,jdbcType=BIGINT}, #{reviewEnd,jdbcType=BIGINT}, 
      #{reviewTypeId,jdbcType=INTEGER}, #{yearScope,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.obsidian.ceimp.entity.ReviewTime">
    insert into review_time
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reviewTimeId != null">
        review_time_id,
      </if>
      <if test="reviewStart != null">
        review_start,
      </if>
      <if test="reviewEnd != null">
        review_end,
      </if>
      <if test="reviewTypeId != null">
        review_type_id,
      </if>
      <if test="yearScope != null">
        year_scope,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reviewTimeId != null">
        #{reviewTimeId,jdbcType=INTEGER},
      </if>
      <if test="reviewStart != null">
        #{reviewStart,jdbcType=BIGINT},
      </if>
      <if test="reviewEnd != null">
        #{reviewEnd,jdbcType=BIGINT},
      </if>
      <if test="reviewTypeId != null">
        #{reviewTypeId,jdbcType=INTEGER},
      </if>
      <if test="yearScope != null">
        #{yearScope,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.obsidian.ceimp.entity.ReviewTimeExample" resultType="java.lang.Long">
    select count(*) from review_time
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update review_time
    <set>
      <if test="record.reviewTimeId != null">
        review_time_id = #{record.reviewTimeId,jdbcType=INTEGER},
      </if>
      <if test="record.reviewStart != null">
        review_start = #{record.reviewStart,jdbcType=BIGINT},
      </if>
      <if test="record.reviewEnd != null">
        review_end = #{record.reviewEnd,jdbcType=BIGINT},
      </if>
      <if test="record.reviewTypeId != null">
        review_type_id = #{record.reviewTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.yearScope != null">
        year_scope = #{record.yearScope,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update review_time
    set review_time_id = #{record.reviewTimeId,jdbcType=INTEGER},
      review_start = #{record.reviewStart,jdbcType=BIGINT},
      review_end = #{record.reviewEnd,jdbcType=BIGINT},
      review_type_id = #{record.reviewTypeId,jdbcType=INTEGER},
      year_scope = #{record.yearScope,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>