<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.obsidian.ceimp.dao.ScholarshipMapper">
  <resultMap id="BaseResultMap" type="org.obsidian.ceimp.entity.Scholarship">
    <result column="scholarship_id" jdbcType="INTEGER" property="scholarshipId" />
    <result column="scholarship_name" jdbcType="VARCHAR" property="scholarshipName" />
    <result column="award_sum" jdbcType="INTEGER" property="awardSum" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    scholarship_id, scholarship_name, award_sum, create_time
  </sql>
  <select id="selectByExample" parameterType="org.obsidian.ceimp.entity.ScholarshipExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from scholarship
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.obsidian.ceimp.entity.ScholarshipExample">
    delete from scholarship
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.obsidian.ceimp.entity.Scholarship">
    insert into scholarship (scholarship_id, scholarship_name, award_sum, 
      create_time)
    values (#{scholarshipId,jdbcType=INTEGER}, #{scholarshipName,jdbcType=VARCHAR}, #{awardSum,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.obsidian.ceimp.entity.Scholarship">
    insert into scholarship
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="scholarshipId != null">
        scholarship_id,
      </if>
      <if test="scholarshipName != null">
        scholarship_name,
      </if>
      <if test="awardSum != null">
        award_sum,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="scholarshipId != null">
        #{scholarshipId,jdbcType=INTEGER},
      </if>
      <if test="scholarshipName != null">
        #{scholarshipName,jdbcType=VARCHAR},
      </if>
      <if test="awardSum != null">
        #{awardSum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.obsidian.ceimp.entity.ScholarshipExample" resultType="java.lang.Long">
    select count(*) from scholarship
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update scholarship
    <set>
      <if test="record.scholarshipId != null">
        scholarship_id = #{record.scholarshipId,jdbcType=INTEGER},
      </if>
      <if test="record.scholarshipName != null">
        scholarship_name = #{record.scholarshipName,jdbcType=VARCHAR},
      </if>
      <if test="record.awardSum != null">
        award_sum = #{record.awardSum,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update scholarship
    set scholarship_id = #{record.scholarshipId,jdbcType=INTEGER},
      scholarship_name = #{record.scholarshipName,jdbcType=VARCHAR},
      award_sum = #{record.awardSum,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>