<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.obsidian.ceimp.dao.ScholarshipPercentMapper">
  <resultMap id="BaseResultMap" type="org.obsidian.ceimp.entity.ScholarshipPercent">
    <result column="percent_id" jdbcType="INTEGER" property="percentId" />
    <result column="scholarship_id" jdbcType="INTEGER" property="scholarshipId" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="percent" jdbcType="DOUBLE" property="percent" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    percent_id, scholarship_id, level, percent, create_time
  </sql>
  <select id="selectByExample" parameterType="org.obsidian.ceimp.entity.ScholarshipPercentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from scholarship_percent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="org.obsidian.ceimp.entity.ScholarshipPercentExample">
    delete from scholarship_percent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.obsidian.ceimp.entity.ScholarshipPercent">
    insert into scholarship_percent (percent_id, scholarship_id, level, 
      percent, create_time)
    values (#{percentId,jdbcType=INTEGER}, #{scholarshipId,jdbcType=INTEGER}, #{level,jdbcType=VARCHAR}, 
      #{percent,jdbcType=DOUBLE}, #{createTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.obsidian.ceimp.entity.ScholarshipPercent">
    insert into scholarship_percent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="percentId != null">
        percent_id,
      </if>
      <if test="scholarshipId != null">
        scholarship_id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="percent != null">
        percent,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="percentId != null">
        #{percentId,jdbcType=INTEGER},
      </if>
      <if test="scholarshipId != null">
        #{scholarshipId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="percent != null">
        #{percent,jdbcType=DOUBLE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.obsidian.ceimp.entity.ScholarshipPercentExample" resultType="java.lang.Long">
    select count(*) from scholarship_percent
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update scholarship_percent
    <set>
      <if test="record.percentId != null">
        percent_id = #{record.percentId,jdbcType=INTEGER},
      </if>
      <if test="record.scholarshipId != null">
        scholarship_id = #{record.scholarshipId,jdbcType=INTEGER},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=VARCHAR},
      </if>
      <if test="record.percent != null">
        percent = #{record.percent,jdbcType=DOUBLE},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update scholarship_percent
    set percent_id = #{record.percentId,jdbcType=INTEGER},
      scholarship_id = #{record.scholarshipId,jdbcType=INTEGER},
      level = #{record.level,jdbcType=VARCHAR},
      percent = #{record.percent,jdbcType=DOUBLE},
      create_time = #{record.createTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>